openapi: 3.2.0
info:
  title: Zoca Platform Compensation API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Compensation
paths:
  /compensation/refund-allocation/preview/{saleId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Preview how a refund splits across sale lines
      tags:
      - Compensation
  /compensation/settings/{locationEntityId}:
    get:
      operationId: getCompensationSettingsByLocationEntityId
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get commission calculation settings for a location
      tags:
      - Compensation
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    put:
      operationId: putCompensationSettingsByLocationEntityId
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update commission calculation settings
      tags:
      - Compensation
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /compensation/rules/{memberLocationId}:
    get:
      operationId: getCompensationRulesByMemberLocationId
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get commission rule history for a staff member
      tags:
      - Compensation
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    post:
      operationId: postCompensationRulesByMemberLocationId
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a new effective-dated commission rule
      tags:
      - Compensation
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /compensation/overrides/{memberLocationId}:
    get:
      operationId: getCompensationOverridesByMemberLocationId
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get commission rate overrides
      tags:
      - Compensation
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    post:
      operationId: postCompensationOverridesByMemberLocationId
      parameters: []
      responses:
        '201':
          description: ''
      summary: Add or replace a commission rate override
      tags:
      - Compensation
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /compensation/overrides/{overrideId}:
    delete:
      operationId: deleteCompensationOverridesByOverrideId
      parameters: []
      responses:
        '200':
          description: ''
      summary: End a commission rate override
      tags:
      - Compensation
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /compensation/pay-config/{memberLocationId}:
    put:
      operationId: putCompensationPayConfigByMemberLocationId
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update hourly / fixed pay / greater-of settings
      tags:
      - Compensation
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /compensation/adjustments/{memberLocationId}:
    get:
      operationId: getCompensationAdjustmentsByMemberLocationId
      parameters: []
      responses:
        '200':
          description: ''
      summary: List manual pay adjustments
      tags:
      - Compensation
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /compensation/adjustments:
    post:
      operationId: postCompensationAdjustments
      parameters: []
      responses:
        '201':
          description: ''
      summary: Record a manual pay adjustment
      tags:
      - Compensation
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /compensation/adjustments/{adjustmentId}:
    delete:
      operationId: deleteCompensationAdjustmentsByAdjustmentId
      parameters: []
      responses:
        '200':
          description: ''
      summary: Remove a manual pay adjustment
      tags:
      - Compensation
      x-operation-id-source: normalized
      x-operation-id-original: t_value
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
