openapi: 3.2.0
info:
  title: Zoca Platform App Blocker Updates API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: App Blocker Updates
paths:
  /app-blocker/updates:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Update created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid request data
        '404':
          description: Entity or template not found
      security:
      - bearer: []
      summary: Create a new app blocker update
      tags:
      - App Blocker Updates
  /app-blocker/updates/location-entity/{locationEntityId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Updates retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      security:
      - bearer: []
      summary: Get updates for a specific location entity
      tags:
      - App Blocker Updates
  /app-blocker/updates/{id}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Update retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '404':
          description: Update not found
      security:
      - bearer: []
      summary: Get update by ID
      tags:
      - App Blocker Updates
    delete:
      operationId: t_value
      parameters: []
      responses:
        '204':
          description: Update deleted successfully
        '404':
          description: Update not found
      security:
      - bearer: []
      summary: Delete an app blocker update
      tags:
      - App Blocker Updates
  /app-blocker/updates/location-entity/{locationEntityId}/count:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Counts retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: number
      security:
      - bearer: []
      summary: Get update counts for location entity
      tags:
      - App Blocker Updates
components:
  schemas:
    e:
      type: object
      properties:
        id:
          type: number
        entityId:
          type: string
        attribute:
          type: string
        value:
          type:
          - object
          - 'null'
        metadata:
          type:
          - object
          - 'null'
        createdAt:
          type:
          - object
          - 'null'
      required:
      - id
      - entityId
      - attribute
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
