openapi: 3.2.0
info:
  title: Zoca Platform Misc API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: misc
paths:
  /misc/sandbox/locations/{locationEntityId}/seed:
    patch:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Seed location lat/lng, services, and place_id
      tags:
      - misc
  /misc/signed-url:
    get:
      operationId: t_value
      parameters:
      - name: expiresInSeconds
        required: false
        in: query
        description: Expiration time in seconds
        schema:
          example: 3600
          type: number
      - name: contentType
        required: false
        in: query
        description: The content type of the file, e.g., image/jpeg
        schema:
          type: string
      - name: fileName
        required: false
        in: query
        description: The file name
        schema:
          type: string
      - name: entityId
        required: true
        in: query
        description: The directory path
        schema:
          type: string
      - name: bucket
        required: true
        in: query
        description: The S3 bucket name
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Generate S3 signed URL for file upload
      tags:
      - misc
  /misc/secret:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get secret from AWS Secrets Manager
      tags:
      - misc
  /misc/upload-to-s3:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Upload file to S3 from URL
      tags:
      - misc
  /misc/redis-timer:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Start Redis timer for entity
      tags:
      - misc
  /misc/offboard-location:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Offboard a location
      tags:
      - misc
  /misc/zoca-test:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Zoca test endpoint
      tags:
      - misc
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
