openapi: 3.2.0
info:
  title: Zoca Platform Inventory CSV Import API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Inventory CSV Import
paths:
  /inventory/csv-import/entity/{entityId}:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Job enqueued
        '400':
          description: File missing, too large, or wrong type
      summary: Upload a CSV of products to import (max 10MB / 10K rows)
      tags:
      - Inventory CSV Import
  /inventory/csv-import/entity/{entityId}/{jobId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Job status snapshot
        '404':
          description: Job not found or belongs to a different tenant
      summary: Get CSV import job status
      tags:
      - Inventory CSV Import
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
