openapi: 3.2.0
info:
  title: Zoca Platform Campaigns API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Campaigns
paths:
  /campaigns/requests:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: List campaign requests for an entity
      tags:
      - Campaigns
    post:
      operationId: postCampaignsRequests
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a new campaign request
      tags:
      - Campaigns
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    patch:
      operationId: patchCampaignsRequests
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update a campaign request
      tags:
      - Campaigns
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /campaigns/requests/count:
    get:
      operationId: getCampaignsRequestsCount
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get campaign request counts by status
      tags:
      - Campaigns
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /campaigns/requests/{id}:
    get:
      operationId: getCampaignsRequestsById
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get a campaign request by ID
      tags:
      - Campaigns
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    delete:
      operationId: deleteCampaignsRequestsById
      parameters: []
      responses:
        '200':
          description: ''
      summary: Delete a campaign request
      tags:
      - Campaigns
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /campaigns/requests/status:
    put:
      operationId: putCampaignsRequestsStatus
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update campaign request status
      tags:
      - Campaigns
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /campaigns/requests/copies:
    put:
      operationId: putCampaignsRequestsCopies
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update campaign request copies
      tags:
      - Campaigns
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /campaigns/requests/stats:
    put:
      operationId: putCampaignsRequestsStats
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update campaign request stats
      tags:
      - Campaigns
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /campaigns/requests/latest:
    get:
      operationId: getCampaignsRequestsLatest
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get latest campaign request for an entity
      tags:
      - Campaigns
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /campaigns/suggestions:
    post:
      operationId: postCampaignsSuggestions
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a campaign suggestion
      tags:
      - Campaigns
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    get:
      operationId: getCampaignsSuggestions
      parameters: []
      responses:
        '200':
          description: ''
      summary: List all campaign suggestions
      tags:
      - Campaigns
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /campaigns/suggestions/bulk:
    post:
      operationId: postCampaignsSuggestionsBulk
      parameters: []
      responses:
        '201':
          description: ''
      summary: Bulk create campaign suggestions
      tags:
      - Campaigns
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /campaigns/suggestions/{id}:
    delete:
      operationId: deleteCampaignsSuggestionsById
      parameters: []
      responses:
        '200':
          description: ''
      summary: Delete a campaign suggestion
      tags:
      - Campaigns
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /campaigns/flyers:
    post:
      operationId: postCampaignsFlyers
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a campaign flyer
      tags:
      - Campaigns
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    get:
      operationId: getCampaignsFlyers
      parameters: []
      responses:
        '200':
          description: ''
      summary: List all campaign flyers
      tags:
      - Campaigns
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /campaigns/flyers/bulk:
    post:
      operationId: postCampaignsFlyersBulk
      parameters: []
      responses:
        '201':
          description: ''
      summary: Bulk create campaign flyers
      tags:
      - Campaigns
      x-operation-id-source: normalized
      x-operation-id-original: t_value
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
