openapi: 3.2.0
info:
  title: Zoca Tasks Sybill Webhook API
  description: 'The Zoca tasks/automation service: AI content queue and planning, FrontDesk (Retell/Twilio) voice + SMS agent onboarding, local-SEO grid scans, WIN conversion triggers, and inbound integration webhooks (Chargebee, Square, Pipedrive, Twilio, Retell, CallHippo, Sybill, Instantly).'
  version: 3.20.9
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://tasks.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-tasks-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://tasks.zoca.ai
  description: Production
security:
- access-token: []
tags:
- name: Sybill Webhook
paths:
  /tasks/api/v1/sybill/webhook:
    post:
      description: Processes incoming Sybill webhook data and queues it for handling
      operationId: t_value
      parameters: []
      requestBody:
        required: true
        description: Sybill webhook payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        '201':
          description: Sybill webhook processed successfully
      security:
      - {}
      summary: Process Sybill webhook
      tags:
      - Sybill Webhook
  /tasks/api/v1/sybill/migrate-to-fireflies:
    post:
      description: Triggers a one-time migration job to transfer Sybill meeting data from sales.meeting_data to sales.fireflies_meeting table
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Migration job queued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                    description: The ID of the queued migration job
                  message:
                    type: string
                    description: Status message
        '401':
          description: Unauthorized - Invalid or missing authentication token
      summary: Migrate Sybill data to Fireflies
      tags:
      - Sybill Webhook
components:
  schemas:
    Object:
      type: object
      properties: {}
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
