openapi: 3.2.0
info:
  title: Zoca Tasks Website Legacy Controller API
  description: 'The Zoca tasks/automation service: AI content queue and planning, FrontDesk (Retell/Twilio) voice + SMS agent onboarding, local-SEO grid scans, WIN conversion triggers, and inbound integration webhooks (Chargebee, Square, Pipedrive, Twilio, Retell, CallHippo, Sybill, Instantly).'
  version: 3.20.9
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://tasks.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-tasks-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://tasks.zoca.ai
  description: Production
security:
- access-token: []
tags:
- name: Website Legacy Controller
paths:
  /tasks/api/v1/website-legacy/trigger-website-build:
    post:
      description: Triggers a website build job for the specified entity and website
      operationId: t_value
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e'
      responses:
        '201':
          description: Website build job successfully added to queue
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Job ID
                  data:
                    type: object
                    properties:
                      websiteId:
                        type: string
                      entityId:
                        type: string
                      updateType:
                        type: string
                      metadata:
                        type: object
                      triggeredAt:
                        type: string
                        format: date-time
                  opts:
                    type: object
                    properties:
                      jobId:
                        type: string
                      priority:
                        type: number
        '400':
          description: Bad Request - Invalid input data
        '500':
          description: Internal Server Error - Failed to queue job
      summary: Trigger website build
      tags:
      - Website Legacy Controller
components:
  schemas:
    e:
      type: object
      properties:
        scan:
          $ref: '#/components/schemas/e'
        businessLat:
          type:
          - number
          - 'null'
        businessLng:
          type:
          - number
          - 'null'
        points:
          type: array
          items:
            $ref: '#/components/schemas/e'
        heroMetrics:
          $ref: '#/components/schemas/e'
      required:
      - scan
      - businessLat
      - businessLng
      - points
      - heroMetrics
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
