openapi: 3.2.0
info:
  title: Zoca Platform Inventory Stock Movements API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Inventory Stock Movements
paths:
  /inventory/stock-movements/entity/{entityId}:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Movement recorded; returns post-trigger onHandQty
        '400':
          description: qtyDelta=0, missing reason, or non-user-callable movementKind
        '404':
          description: Variant not found for entity
      summary: Record a stock movement (adjustment / waste / loss / etc.)
      tags:
      - Inventory Stock Movements
    get:
      operationId: t_value
      parameters:
      - name: limit
        required: false
        in: query
        schema:
          type: number
      - name: page
        required: false
        in: query
        schema:
          type: number
      - name: filterTo
        required: false
        in: query
        schema:
          format: date-time
          type: string
      - name: filterFrom
        required: false
        in: query
        schema:
          format: date-time
          type: string
      - name: filterMovementKind
        required: false
        in: query
        schema:
          type: string
      - name: filterProductVariantId
        required: true
        in: query
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: ''
      summary: List movement history for a variant (paginated)
      tags:
      - Inventory Stock Movements
  /inventory/stock-movements/entity/{entityId}/stock-on-hand:
    get:
      operationId: t_value
      parameters:
      - name: limit
        required: false
        in: query
        schema:
          type: number
      - name: page
        required: false
        in: query
        schema:
          type: number
      - name: filterLocationEntityId
        required: false
        in: query
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: ''
      summary: List stock-on-hand rows for the entity (paginated)
      tags:
      - Inventory Stock Movements
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
