openapi: 3.2.0
info:
  title: Zoca Tasks Just Call API
  description: 'The Zoca tasks/automation service: AI content queue and planning, FrontDesk (Retell/Twilio) voice + SMS agent onboarding, local-SEO grid scans, WIN conversion triggers, and inbound integration webhooks (Chargebee, Square, Pipedrive, Twilio, Retell, CallHippo, Sybill, Instantly).'
  version: 3.20.9
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://tasks.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-tasks-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://tasks.zoca.ai
  description: Production
security:
- access-token: []
tags:
- name: JustCall
paths:
  /tasks/api/v1/justcall/webhook:
    post:
      description: Processes incoming JustCall webhook data for SMS and calls, and queues it for handling by pipedrive-worker
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: JustCall webhook processed successfully
        '400':
          description: Invalid webhook data
      security:
      - {}
      summary: Process JustCall webhook
      tags:
      - JustCall
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
