openapi: 3.2.0
info:
  title: Zoca Platform Scheduling - Stripe Terminal API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Scheduling - Stripe Terminal
paths:
  /scheduling/stripe/terminal/connection-token:
    post:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: Create Stripe Terminal connection token
      tags:
      - Scheduling - Stripe Terminal
  /scheduling/stripe/terminal/tap-to-pay-config:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: Get Tap to Pay configuration
      tags:
      - Scheduling - Stripe Terminal
  /scheduling/stripe/terminal/ensure-location:
    post:
      description: Creates a Stripe Terminal Location (tml_...) for the connected account using the stored address for locationEntityId, persists it to entities.locations, and returns it.
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: Provision Stripe Terminal location for a connected account
      tags:
      - Scheduling - Stripe Terminal
  /scheduling/stripe/terminal/readers/pair:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      security:
      - bearer: []
      summary: Pair a Stripe Terminal smart reader to a location
      tags:
      - Scheduling - Stripe Terminal
  /scheduling/stripe/terminal/readers:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: List paired Stripe Terminal readers for a location
      tags:
      - Scheduling - Stripe Terminal
  /scheduling/stripe/terminal/readers/{id}:
    patch:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: Rename a paired reader
      tags:
      - Scheduling - Stripe Terminal
    delete:
      operationId: t_value
      parameters: []
      responses:
        '204':
          description: ''
      security:
      - bearer: []
      summary: Unpair a reader
      tags:
      - Scheduling - Stripe Terminal
  /scheduling/stripe/terminal/readers/simulate:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      security:
      - bearer: []
      summary: (Test mode only) Create a simulated reader for QA
      tags:
      - Scheduling - Stripe Terminal
  /scheduling/stripe/terminal/readers/{id}/present-payment-method:
    post:
      operationId: t_value
      parameters: []
      responses:
        '204':
          description: ''
      security:
      - bearer: []
      summary: (Test mode only) Inject a test card scenario on a simulated reader
      tags:
      - Scheduling - Stripe Terminal
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
