openapi: 3.2.0
info:
  title: Zoca Tasks Website Performance API
  description: 'The Zoca tasks/automation service: AI content queue and planning, FrontDesk (Retell/Twilio) voice + SMS agent onboarding, local-SEO grid scans, WIN conversion triggers, and inbound integration webhooks (Chargebee, Square, Pipedrive, Twilio, Retell, CallHippo, Sybill, Instantly).'
  version: 3.20.9
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://tasks.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-tasks-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://tasks.zoca.ai
  description: Production
security:
- access-token: []
tags:
- name: website-performance
paths:
  /tasks/api/v1/website-performance:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create website performance data from Lighthouse scan
      tags:
      - website-performance
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get paginated website performance data
      tags:
      - website-performance
  /tasks/api/v1/website-performance/website/{websiteId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get performance data by website ID
      tags:
      - website-performance
  /tasks/api/v1/website-performance/{id}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get website performance data by websiteID
      tags:
      - website-performance
  /tasks/api/v1/website-performance/trigger-scan/{websiteId}:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Trigger a Lighthouse scan for a specific website
      tags:
      - website-performance
  /tasks/api/v1/website-performance/trigger-scan-url:
    post:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Trigger a Lighthouse scan for a specific URL
      tags:
      - website-performance
  /tasks/api/v1/website-performance/trigger-scan-by-id:
    post:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Trigger a Lighthouse scan for a website ID without checking published status
      tags:
      - website-performance
  /tasks/api/v1/website-performance/trigger-scans:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Trigger Lighthouse scans for all published websites
      tags:
      - website-performance
  /tasks/api/v1/website-performance/dashboard/stats:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get overall performance dashboard statistics
      tags:
      - website-performance
  /tasks/api/v1/website-performance/dashboard/average-scores:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get average scores over time
      tags:
      - website-performance
  /tasks/api/v1/website-performance/dashboard/performance-trends:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get performance metrics trends over time
      tags:
      - website-performance
  /tasks/api/v1/website-performance/dashboard/top-websites:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get top-performing and worst-performing websites
      tags:
      - website-performance
  /tasks/api/v1/website-performance/dashboard/monthly-score-comparison:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Compare average performance scores between two months
      tags:
      - website-performance
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
