openapi: 3.2.0
info:
  title: Zoca Content Queue API
  contact: {}
  x-refined-note:
  - x-apievangelist-note differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Content Queue across 2 of this provider''s published API definitions: zoca-platform-openapi.yml, zoca-tasks-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.zoca.ai
  description: Production
- url: https://tasks.zoca.ai
  description: Production
tags:
- name: Content Queue
paths:
  /content-queue/{entityId}/items:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
    post:
      operationId: postContentQueueByEntityIdItems
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/items/{itemId}:
    get:
      operationId: getContentQueueByEntityIdItemsByItemId
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    patch:
      operationId: patchContentQueueByEntityIdItemsByItemId
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    delete:
      operationId: deleteContentQueueByEntityIdItemsByItemId
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/items/{itemId}/post:
    patch:
      operationId: patchContentQueueByEntityIdItemsByItemIdPost
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/items/{itemId}/reschedule:
    post:
      operationId: postContentQueueByEntityIdItemsByItemIdReschedule
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/items/{itemId}/link-content:
    post:
      operationId: postContentQueueByEntityIdItemsByItemIdLinkContent
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/items/{itemId}/generate:
    post:
      operationId: postContentQueueByEntityIdItemsByItemIdGenerate
      parameters: []
      responses:
        '202':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/items/{itemId}/force-publish:
    post:
      operationId: postContentQueueByEntityIdItemsByItemIdForcePublish
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/items/bulk-reschedule:
    post:
      operationId: postContentQueueByEntityIdItemsBulkReschedule
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/items/bulk-delete:
    post:
      operationId: postContentQueueByEntityIdItemsBulkDelete
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/items/bulk-force-publish:
    post:
      operationId: postContentQueueByEntityIdItemsBulkForcePublish
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/items/force-all-category-pages:
    post:
      operationId: postContentQueueByEntityIdItemsForceAllCategoryPages
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/generate-all:
    post:
      operationId: postContentQueueByEntityIdGenerateAll
      parameters: []
      responses:
        '202':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/stats:
    get:
      operationId: getContentQueueByEntityIdStats
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/calendar:
    get:
      operationId: getContentQueueByEntityIdCalendar
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/plan:
    get:
      operationId: getContentQueueByEntityIdPlan
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    delete:
      operationId: deleteContentQueueByEntityIdPlan
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/plan/summary:
    get:
      operationId: getContentQueueByEntityIdPlanSummary
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/plan/services:
    get:
      operationId: getContentQueueByEntityIdPlanServices
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/plan/generate:
    post:
      operationId: postContentQueueByEntityIdPlanGenerate
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/status:
    get:
      operationId: getContentQueueByEntityIdStatus
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/activate:
    post:
      operationId: postContentQueueByEntityIdActivate
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/deactivate:
    post:
      operationId: postContentQueueByEntityIdDeactivate
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/rollback-to-v2:
    post:
      operationId: postContentQueueByEntityIdRollbackToV2
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /content-queue/{entityId}/schedule-preferences:
    get:
      operationId: getContentQueueByEntityIdSchedulePreferences
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    put:
      operationId: putContentQueueByEntityIdSchedulePreferences
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/items:
    get:
      operationId: getTasksApiV1ContentQueueByEntityIdItems
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    post:
      operationId: postTasksApiV1ContentQueueByEntityIdItems
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/items/{itemId}:
    get:
      operationId: getTasksApiV1ContentQueueByEntityIdItemsByItemId
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    patch:
      operationId: patchTasksApiV1ContentQueueByEntityIdItemsByItemId
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    delete:
      operationId: deleteTasksApiV1ContentQueueByEntityIdItemsByItemId
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/items/{itemId}/post:
    patch:
      operationId: patchTasksApiV1ContentQueueByEntityIdItemsByItemIdPost
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/items/{itemId}/reschedule:
    post:
      operationId: postTasksApiV1ContentQueueByEntityIdItemsByItemIdReschedule
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/items/{itemId}/link-content:
    post:
      operationId: postTasksApiV1ContentQueueByEntityIdItemsByItemIdLinkContent
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/items/{itemId}/generate:
    post:
      operationId: postTasksApiV1ContentQueueByEntityIdItemsByItemIdGenerate
      parameters: []
      responses:
        '202':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/items/{itemId}/force-publish:
    post:
      operationId: postTasksApiV1ContentQueueByEntityIdItemsByItemIdForcePublish
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/items/bulk-reschedule:
    post:
      operationId: postTasksApiV1ContentQueueByEntityIdItemsBulkReschedule
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/items/bulk-delete:
    post:
      operationId: postTasksApiV1ContentQueueByEntityIdItemsBulkDelete
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/items/bulk-force-publish:
    post:
      operationId: postTasksApiV1ContentQueueByEntityIdItemsBulkForcePublish
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/items/force-all-category-pages:
    post:
      operationId: postTasksApiV1ContentQueueByEntityIdItemsForceAllCategoryPages
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/generate-all:
    post:
      operationId: postTasksApiV1ContentQueueByEntityIdGenerateAll
      parameters: []
      responses:
        '202':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/stats:
    get:
      operationId: getTasksApiV1ContentQueueByEntityIdStats
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/calendar:
    get:
      operationId: getTasksApiV1ContentQueueByEntityIdCalendar
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/plan:
    get:
      operationId: getTasksApiV1ContentQueueByEntityIdPlan
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    delete:
      operationId: deleteTasksApiV1ContentQueueByEntityIdPlan
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/plan/summary:
    get:
      operationId: getTasksApiV1ContentQueueByEntityIdPlanSummary
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/plan/services:
    get:
      operationId: getTasksApiV1ContentQueueByEntityIdPlanServices
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/plan/generate:
    post:
      operationId: postTasksApiV1ContentQueueByEntityIdPlanGenerate
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/status:
    get:
      operationId: getTasksApiV1ContentQueueByEntityIdStatus
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/activate:
    post:
      operationId: postTasksApiV1ContentQueueByEntityIdActivate
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/deactivate:
    post:
      operationId: postTasksApiV1ContentQueueByEntityIdDeactivate
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/rollback-to-v2:
    post:
      operationId: postTasksApiV1ContentQueueByEntityIdRollbackToV2
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/content-queue/{entityId}/schedule-preferences:
    get:
      operationId: getTasksApiV1ContentQueueByEntityIdSchedulePreferences
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    put:
      operationId: putTasksApiV1ContentQueueByEntityIdSchedulePreferences
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - Content Queue
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
x-refined-from:
- zoca-platform-openapi.yml
- zoca-tasks-openapi.yml
