openapi: 3.2.0
info:
  title: Zoca Platform Scheduling Insights API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Scheduling Insights
paths:
  /scheduling/insights-and-reports/enquiries-funnel:
    get:
      description: Returns funnel metrics for the EC booking flow, including enquiries count, services added, slots selected, and bookings created with conversion percentages.
      operationId: t_value
      parameters:
      - name: businessEntityId
        required: false
        in: query
        description: Business entity ID to filter by business
        schema:
          type: string
      - name: locationEntityId
        required: false
        in: query
        description: Location entity ID to filter by specific location
        schema:
          type: string
      - name: granularity
        required: true
        in: query
        description: Data aggregation granularity
        schema:
          enum:
          - WEEKLY
          - MONTHLY
          type: string
      - name: endDate
        required: true
        in: query
        description: End date for the enquiries funnel data (ISO date string)
        schema:
          example: '2025-12-31'
          type: string
      - name: startDate
        required: true
        in: query
        description: Start date for the enquiries funnel data (ISO date string)
        schema:
          example: '2025-01-01'
          type: string
      responses:
        '200':
          description: Enquiries funnel data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid query parameters
      summary: Get enquiries funnel data
      tags:
      - Scheduling Insights
  /scheduling/insights-and-reports/checkout-consistency:
    get:
      description: Returns checkout consistency metrics tracking booking completion rates. Shows total booked appointments, checked out appointments, pending appointments, and consistency percentage.
      operationId: t_value
      parameters:
      - name: businessEntityId
        required: false
        in: query
        description: Business entity ID to filter by business
        schema:
          type: string
      - name: locationEntityId
        required: false
        in: query
        description: Location entity ID to filter by specific location
        schema:
          type: string
      - name: granularity
        required: true
        in: query
        description: Data aggregation granularity
        schema:
          enum:
          - WEEKLY
          - MONTHLY
          type: string
      - name: endDate
        required: true
        in: query
        description: End date for the checkout consistency data (ISO date string)
        schema:
          example: '2025-12-31'
          type: string
      - name: startDate
        required: true
        in: query
        description: Start date for the checkout consistency data (ISO date string)
        schema:
          example: '2025-01-01'
          type: string
      responses:
        '200':
          description: Checkout consistency data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid query parameters
      summary: Get checkout consistency data
      tags:
      - Scheduling Insights
  /scheduling/insights-and-reports/services-insights:
    get:
      description: Returns services insights showing the frequency of each service in appointments. Includes a breakdown by service type with chart-ready colors and labels.
      operationId: t_value
      parameters:
      - name: businessEntityId
        required: false
        in: query
        description: Business entity ID to filter by business
        schema:
          type: string
      - name: locationEntityId
        required: false
        in: query
        description: Location entity ID to filter by specific location
        schema:
          type: string
      - name: granularity
        required: true
        in: query
        description: Data aggregation granularity
        schema:
          enum:
          - WEEKLY
          - MONTHLY
          type: string
      - name: endDate
        required: true
        in: query
        description: End date for the services insights data (ISO date string)
        schema:
          example: '2025-12-31'
          type: string
      - name: startDate
        required: true
        in: query
        description: Start date for the services insights data (ISO date string)
        schema:
          example: '2025-01-01'
          type: string
      responses:
        '200':
          description: Services insights data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid query parameters
      summary: Get services insights data
      tags:
      - Scheduling Insights
  /scheduling/insights-and-reports/sales-insights:
    get:
      description: Returns sales insights showing the breakdown by services and tips. Includes total sales, booked sales, and a chart-ready breakdown.
      operationId: t_value
      parameters:
      - name: businessEntityId
        required: false
        in: query
        description: Business entity ID to filter by business
        schema:
          type: string
      - name: locationEntityId
        required: false
        in: query
        description: Location entity ID to filter by specific location
        schema:
          type: string
      - name: granularity
        required: true
        in: query
        description: Data aggregation granularity
        schema:
          enum:
          - WEEKLY
          - MONTHLY
          type: string
      - name: endDate
        required: true
        in: query
        description: End date for the sales insights data (ISO date string)
        schema:
          example: '2025-12-31'
          type: string
      - name: startDate
        required: true
        in: query
        description: Start date for the sales insights data (ISO date string)
        schema:
          example: '2025-01-01'
          type: string
      responses:
        '200':
          description: Sales insights data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid query parameters
      summary: Get sales insights data
      tags:
      - Scheduling Insights
  /scheduling/insights-and-reports/appointments-tracker-stats:
    get:
      description: Returns appointments and sales data aggregated by weekly or monthly periods. Includes onboarding markers for each period and totals.
      operationId: t_value
      parameters:
      - name: businessEntityId
        required: false
        in: query
        description: Business entity ID to filter by business
        schema:
          type: string
      - name: locationEntityId
        required: false
        in: query
        description: Location entity ID to filter by specific location
        schema:
          type: string
      - name: granularity
        required: true
        in: query
        description: Data aggregation granularity (WEEKLY or MONTHLY)
        schema:
          enum:
          - WEEKLY
          - MONTHLY
          type: string
      - name: endDate
        required: true
        in: query
        description: End date for the appointments tracker data (ISO date string)
        schema:
          example: '2025-12-31'
          type: string
      - name: startDate
        required: true
        in: query
        description: Start date for the appointments tracker data (ISO date string)
        schema:
          example: '2025-01-01'
          type: string
      responses:
        '200':
          description: Appointments tracker stats retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid query parameters
      summary: Get appointments tracker stats
      tags:
      - Scheduling Insights
components:
  schemas:
    e:
      type: object
      properties:
        id:
          type: number
        entityId:
          type: string
        attribute:
          type: string
        value:
          type:
          - object
          - 'null'
        metadata:
          type:
          - object
          - 'null'
        createdAt:
          type:
          - object
          - 'null'
      required:
      - id
      - entityId
      - attribute
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
