openapi: 3.2.0
info:
  title: Zoca Platform Scheduling - Checkout Tip Config API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Scheduling - Checkout Tip Config
paths:
  /scheduling/checkout-tip-config:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: List checkout tip presets for a location
      tags:
      - Scheduling - Checkout Tip Config
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      security:
      - bearer: []
      summary: Create a checkout tip preset for a location
      tags:
      - Scheduling - Checkout Tip Config
  /scheduling/checkout-tip-config/{id}:
    patch:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: Update a checkout tip preset
      tags:
      - Scheduling - Checkout Tip Config
    delete:
      operationId: t_value
      parameters: []
      responses:
        '204':
          description: ''
      security:
      - bearer: []
      summary: Delete a checkout tip preset
      tags:
      - Scheduling - Checkout Tip Config
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
