openapi: 3.2.0
info:
  title: Zoca Platform Webview API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Webview
paths:
  /webview:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get webviews by query parameters
      tags:
      - Webview
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a new webview
      tags:
      - Webview
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update an existing webview
      tags:
      - Webview
  /webview/{id}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get webview by ID
      tags:
      - Webview
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
