openapi: 3.2.0
info:
  title: Zoca Public Aeo Lead Magnet API
  description: 'Zoca''s unauthenticated public surface backing the free self-serve lead-magnet tools: Local Business Demand Tracker keyword/demand analysis, Google Business Profile competitor analysis, website strategy grading, pricing benchmarks, and short-link/app-link redirects.'
  version: 3.20.9
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://public.zoca.com/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-public-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://public.zoca.com
  description: Production
tags:
- name: aeo-lead-magnet
paths:
  /lead-magnet/aeo/report:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: The tier-appropriate AI-visibility report.
      summary: Run an AEO visibility audit for a business and tier
      tags:
      - aeo-lead-magnet
  /lead-magnet/aeo/search-notify:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: '{ ok: true }. Best-effort; never blocks the client.'
      summary: Notify Slack that a visitor ran the AEO checker
      tags:
      - aeo-lead-magnet
  /lead-magnet/aeo/report-unlocked:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: '{ ok: true }. Best-effort; never 500s the unlock.'
      summary: Record a report-unlock / CTA lead and notify Slack
      tags:
      - aeo-lead-magnet
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
