openapi: 3.2.0
info:
  title: Zoca Tasks Demo Call Tracker API
  description: 'The Zoca tasks/automation service: AI content queue and planning, FrontDesk (Retell/Twilio) voice + SMS agent onboarding, local-SEO grid scans, WIN conversion triggers, and inbound integration webhooks (Chargebee, Square, Pipedrive, Twilio, Retell, CallHippo, Sybill, Instantly).'
  version: 3.20.9
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://tasks.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-tasks-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://tasks.zoca.ai
  description: Production
security:
- access-token: []
tags:
- name: Demo Call Tracker
paths:
  /tasks/api/v1/hubspot/demo-call-tracker/{hubspotDemoCallId}:
    patch:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Record updated successfully
        '404':
          description: Record not found
      security:
      - bearer: []
      summary: Update a demo call tracker record by hubspot demo call ID
      tags:
      - Demo Call Tracker
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
