openapi: 3.2.0
info:
  title: Zoca Platform App Blocker API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: app-blocker
paths:
  /app-blocker/templates:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Template created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid input data
        '500':
          description: Internal server error
      summary: Create a new app blocker template
      tags:
      - app-blocker
    get:
      operationId: t_value
      parameters:
      - name: limit
        required: false
        in: query
        description: 'Number of items per page (default: 10)'
        schema:
          type: number
      - name: page
        required: false
        in: query
        description: 'Page number (default: 1)'
        schema:
          type: number
      responses:
        '200':
          description: List of templates retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '500':
          description: Internal server error
      summary: Get paginated list of templates
      tags:
      - app-blocker
  /app-blocker/templates/{id}:
    get:
      operationId: t_value
      parameters:
      - name: id
        required: true
        in: path
        description: Template UUID
        schema:
          type: string
      responses:
        '200':
          description: Template retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid UUID format
        '404':
          description: Template not found
      summary: Get a template by ID
      tags:
      - app-blocker
    put:
      operationId: t_value
      parameters:
      - name: id
        required: true
        in: path
        description: Template UUID
        schema:
          type: string
      responses:
        '200':
          description: Template updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid input data
        '404':
          description: Template not found
      summary: Update a template
      tags:
      - app-blocker
    delete:
      operationId: t_value
      parameters:
      - name: id
        required: true
        in: path
        description: Template UUID
        schema:
          type: string
      responses:
        '204':
          description: Template deleted successfully
        '404':
          description: Template not found
      summary: Delete a template (soft delete)
      tags:
      - app-blocker
components:
  schemas:
    e:
      type: object
      properties:
        id:
          type: number
        entityId:
          type: string
        attribute:
          type: string
        value:
          type:
          - object
          - 'null'
        metadata:
          type:
          - object
          - 'null'
        createdAt:
          type:
          - object
          - 'null'
      required:
      - id
      - entityId
      - attribute
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
