openapi: 3.2.0
info:
  title: Zoca Clients API
  contact: {}
  x-refined-note:
  - x-apievangelist-note differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Clients across 2 of this provider''s published API definitions: zoca-platform-openapi.yml, zoca-tasks-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.zoca.ai
  description: Production
- url: https://tasks.zoca.ai
  description: Production
tags:
- name: Clients
paths:
  /clients:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a new client with contact information
      tags:
      - Clients
    get:
      operationId: getClients
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get multiple clients by IDs
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/bulk:
    post:
      operationId: postClientsBulk
      parameters: []
      responses:
        '201':
          description: ''
      summary: Bulk create clients with contact information
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/bulk-s3:
    post:
      operationId: postClientsBulkS3
      parameters: []
      responses:
        '201':
          description: ''
      summary: Bulk import clients from S3 URL
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/entity/{entityId}:
    get:
      operationId: getClientsEntityByEntityId
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get clients by entity ID with pagination
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/block:
    put:
      operationId: putClientsBlock
      parameters: []
      responses:
        '200':
          description: ''
      summary: Block or restore clients
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/entity/{entityId}/blocked:
    get:
      operationId: getClientsEntityByEntityIdBlocked
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get blocked clients for an entity with pagination
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/{clientId}:
    get:
      operationId: getClientsByClientId
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get a client by ID
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    patch:
      operationId: patchClientsByClientId
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update a client by ID
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/phone:
    get:
      operationId: getClientsPhone
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get clients by phone number
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/email:
    get:
      operationId: getClientsEmail
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get clients by email address
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/{clientId}/notes:
    get:
      operationId: getClientsByClientIdNotes
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get notes for a client
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    post:
      operationId: postClientsByClientIdNotes
      parameters: []
      responses:
        '201':
          description: ''
      summary: Add a note to a client
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/{clientId}/notes/{noteId}:
    put:
      operationId: putClientsByClientIdNotesByNoteId
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update a client note
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    delete:
      operationId: deleteClientsByClientIdNotesByNoteId
      parameters: []
      responses:
        '200':
          description: ''
      summary: Delete a client note
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/{entityId}/clientFile:
    post:
      operationId: postClientsByEntityIdClientFile
      parameters: []
      responses:
        '201':
          description: ''
      summary: Store a client file for an entity
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/temp/sendReviewAutomation:
    get:
      operationId: getClientsTempSendReviewAutomation
      parameters: []
      responses:
        '200':
          description: ''
      summary: Trigger review automation job
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/comm-types:
    get:
      operationId: getClientsCommTypes
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get available communication types
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/comms/{commId}/status:
    patch:
      operationId: patchClientsCommsByCommIdStatus
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update communication status
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/{clientId}/contacts:
    post:
      operationId: postClientsByClientIdContacts
      parameters: []
      responses:
        '201':
          description: ''
      summary: Add a contact to an existing client
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/{clientId}/contacts/{contactId}:
    delete:
      operationId: deleteClientsByClientIdContactsByContactId
      parameters: []
      responses:
        '200':
          description: ''
      summary: Remove a contact from a client
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    put:
      operationId: putClientsByClientIdContactsByContactId
      parameters: []
      responses:
        '200':
          description: ''
      summary: Replace a contact on a client
      tags:
      - Clients
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /tasks/api/v1/clients/sendReviewAutomation:
    get:
      operationId: getTasksApiV1ClientsSendReviewAutomation
      parameters: []
      responses:
        '200':
          description: ''
      summary: Send review automation to Active Campaign
      tags:
      - Clients
      security:
      - access-token: []
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/clients/manual-upload:
    post:
      operationId: postTasksApiV1ClientsManualUpload
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create client with manual upload
      tags:
      - Clients
      security:
      - access-token: []
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/clients/bulk-update-limit-preferences:
    post:
      operationId: postTasksApiV1ClientsBulkUpdateLimitPreferences
      parameters: []
      responses:
        '201':
          description: ''
      summary: Bulk update limit preferences
      tags:
      - Clients
      security:
      - access-token: []
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/clients/sync-active-campaign-export:
    post:
      operationId: postTasksApiV1ClientsSyncActiveCampaignExport
      parameters: []
      responses:
        '201':
          description: ''
      summary: Sync Active Campaign export
      tags:
      - Clients
      security:
      - access-token: []
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/clients/loyalty/import:
    post:
      operationId: postTasksApiV1ClientsLoyaltyImport
      parameters: []
      responses:
        '201':
          description: ''
      summary: Import loyalty clients from CSV, optionally mapping to a cohort
      tags:
      - Clients
      security:
      - access-token: []
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/clients/reviews/import:
    post:
      operationId: postTasksApiV1ClientsReviewsImport
      parameters: []
      responses:
        '201':
          description: ''
      summary: Import review-outreach clients from CSV into a new cohort
      tags:
      - Clients
      security:
      - access-token: []
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/clients/reviews/validate:
    post:
      operationId: postTasksApiV1ClientsReviewsValidate
      parameters: []
      responses:
        '201':
          description: ''
      summary: Pre-flight validate a reviews CSV — parses + validates, writes nothing
      tags:
      - Clients
      security:
      - access-token: []
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
x-refined-from:
- zoca-platform-openapi.yml
- zoca-tasks-openapi.yml
