openapi: 3.2.0
info:
  title: Zoca Platform Requests API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Requests
paths:
  /requests-api:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a new request
      tags:
      - Requests
  /requests-api/fromTemplate:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a request from a template
      tags:
      - Requests
  /requests-api/product/{productId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get all requests by product ID
      tags:
      - Requests
  /requests-api/{id}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get a request by ID
      tags:
      - Requests
    delete:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Delete a request by ID
      tags:
      - Requests
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update a request by ID
      tags:
      - Requests
  /requests-api/{id}/history:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get request history by ID
      tags:
      - Requests
  /requests-api/{entityId}/list:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: List requests for an entity with optional pagination
      tags:
      - Requests
  /requests-api/filters:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Filter requests excluding specified types
      tags:
      - Requests
  /requests-api/{id}/additionalData:
    patch:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Patch additional data for a request
      tags:
      - Requests
  /requests-api/{id}/complete:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Mark a request as completed
      tags:
      - Requests
  /requests-api/bulk/complete:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Bulk mark requests as completed
      tags:
      - Requests
  /requests-api/categories/{entityId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get ticket categories for an entity
      tags:
      - Requests
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
