openapi: 3.2.0
info:
  title: Zoca Platform GBP Reviews API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: GBP Reviews
paths:
  /gbp-reviews/review/{entityId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get a specific GBP review by ID
      tags:
      - GBP Reviews
  /gbp-reviews/{entityId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get all GBP reviews for an entity
      tags:
      - GBP Reviews
  /gbp-reviews/{entityId}/review:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Insert a GBP review by name
      tags:
      - GBP Reviews
  /gbp-reviews/reply/{entityId}:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Reply to a GBP review
      tags:
      - GBP Reviews
  /gbp-reviews/{entityId}/sync:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Synchronize GBP reviews from Google
      tags:
      - GBP Reviews
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
