openapi: 3.2.0
info:
  title: Zoca Platform Scheduling - Form Submissions API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Scheduling - Form Submissions
paths:
  /scheduling/forms/submissions:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Paginated submissions
      summary: List form submissions (SP)
      tags:
      - Scheduling - Form Submissions
  /scheduling/forms/submissions/{submissionId}:
    get:
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: query
        description: Location entity ID
        schema: {}
      - name: submissionId
        required: true
        in: path
        description: Submission ID
        schema: {}
      responses:
        '200':
          description: Submission detail with responses and signatures
        '404':
          description: Submission not found
      summary: Get submission detail (SP)
      tags:
      - Scheduling - Form Submissions
  /scheduling/forms/submissions/{submissionId}/responses:
    put:
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: query
        description: Location entity ID
        schema: {}
      - name: submissionId
        required: true
        in: path
        description: Submission ID
        schema: {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e'
      responses:
        '200':
          description: Responses updated, audit rows written
        '400':
          description: Unknown question or required answer cleared
        '401':
          description: No authenticated staff actor
        '404':
          description: Submission not found
      summary: Edit submission responses on behalf of the client (SP)
      tags:
      - Scheduling - Form Submissions
  /scheduling/forms/submissions/{submissionId}/audit-log:
    get:
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: query
        description: Location entity ID
        schema: {}
      - name: submissionId
        required: true
        in: path
        description: Submission ID
        schema: {}
      responses:
        '200':
          description: Audit entries, newest first
        '401':
          description: No authenticated staff actor
        '404':
          description: Submission not found
      summary: Get submission response audit log (SP)
      tags:
      - Scheduling - Form Submissions
  /scheduling/forms/submissions/{submissionId}/send-reminder:
    post:
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: query
        description: Location entity ID
        schema: {}
      - name: submissionId
        required: true
        in: path
        description: Submission ID
        schema: {}
      responses:
        '200':
          description: Reminder sent
        '400':
          description: Submission already completed
        '404':
          description: Submission not found
      summary: Send form completion reminder to client (SP)
      tags:
      - Scheduling - Form Submissions
components:
  schemas:
    e:
      type: object
      properties:
        id:
          type: number
        entityId:
          type: string
        attribute:
          type: string
        value:
          type:
          - object
          - 'null'
        metadata:
          type:
          - object
          - 'null'
        createdAt:
          type:
          - object
          - 'null'
      required:
      - id
      - entityId
      - attribute
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
