openapi: 3.2.0
info:
  title: Zoca Platform Reports API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Reports
paths:
  /reports/multilocation/{businessEntityId}/frontdesk-overview:
    get:
      operationId: t_value
      parameters:
      - name: businessEntityId
        required: true
        in: path
        description: Business entity UUID
        schema: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      security:
      - bearer: []
      summary: Front Desk overview — impact, recoveries and locations to watch
      tags:
      - Reports
  /reports/location/{locationEntityId}/frontdesk-overview:
    get:
      operationId: t_value
      parameters:
      - name: locationEntityId
        required: true
        in: path
        description: Location entity UUID
        schema: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      security:
      - bearer: []
      summary: Front Desk overview for a single location
      tags:
      - Reports
  /reports/location/{locationEntityId}/call-analytics:
    get:
      operationId: t_value
      parameters:
      - name: locationEntityId
        required: true
        in: path
        description: Location entity UUID
        schema: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      security:
      - bearer: []
      summary: Call analytics for a single location
      tags:
      - Reports
  /reports/location/{locationEntityId}/website-funnel:
    get:
      operationId: t_value
      parameters:
      - name: locationEntityId
        required: true
        in: path
        description: Location entity UUID
        schema: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      security:
      - bearer: []
      summary: Website funnel for a single location
      tags:
      - Reports
  /reports/multilocation/{businessEntityId}/website-funnel:
    get:
      operationId: t_value
      parameters:
      - name: businessEntityId
        required: true
        in: path
        description: Business entity UUID
        schema: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      security:
      - bearer: []
      summary: Website funnel — visitors, Book Now clicks, leads and bookings
      tags:
      - Reports
  /reports/multilocation/{businessEntityId}/call-analytics:
    get:
      operationId: t_value
      parameters:
      - name: businessEntityId
        required: true
        in: path
        description: Business entity UUID
        schema: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      security:
      - bearer: []
      summary: Call analytics — volume, dispositions, heatmap and spam savings
      tags:
      - Reports
  /reports/multilocation/{businessEntityId}/outcomes:
    get:
      operationId: t_value
      parameters:
      - name: businessEntityId
        required: true
        in: path
        description: Business entity UUID
        schema: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      security:
      - bearer: []
      summary: Outcomes rollup — leads, calls, bookings and revenue over time
      tags:
      - Reports
  /reports/multilocation/{businessEntityId}/overview:
    get:
      operationId: t_value
      parameters:
      - name: businessEntityId
        required: true
        in: path
        description: Business entity UUID
        schema: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      security:
      - bearer: []
      summary: Reports rollup — network overview
      tags:
      - Reports
  /reports:
    get:
      description: Returns all registered report templates grouped by category.
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      security:
      - bearer: []
      summary: List report templates
      tags:
      - Reports
  /reports/{key}:
    get:
      description: Runs the named report template for one location and date range. Cursor-paginated.
      operationId: t_value
      parameters:
      - name: key
        required: true
        in: path
        description: Template key, e.g. 'sales-summary'
        schema: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '403':
          description: No access to the requested location
        '404':
          description: Unknown report template
      security:
      - bearer: []
      summary: Run a report
      tags:
      - Reports
  /reports/{key}/export.csv:
    get:
      description: Runs the report to completion and downloads it as a CSV attachment.
      operationId: t_value
      parameters:
      - name: key
        required: true
        in: path
        description: Template key, e.g. 'sales-summary'
        schema: {}
      responses:
        '200':
          description: CSV attachment
      security:
      - bearer: []
      summary: Export a report as CSV
      tags:
      - Reports
components:
  schemas:
    e:
      type: object
      properties:
        id:
          type: number
        entityId:
          type: string
        attribute:
          type: string
        value:
          type:
          - object
          - 'null'
        metadata:
          type:
          - object
          - 'null'
        createdAt:
          type:
          - object
          - 'null'
      required:
      - id
      - entityId
      - attribute
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
