openapi: 3.2.0
info:
  title: Zoca Platform Acuity API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Acuity
paths:
  /acuity/initialize/{entityId}:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Initialize Acuity service for an entity
      tags:
      - Acuity
  /acuity/appointment-types/{serviceName}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: List of appointment types
      summary: Get appointment types (services) for an entity
      tags:
      - Acuity
  /acuity/slots:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get available slots (times) for an entity
      tags:
      - Acuity
  /acuity/payment-link:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Generate a payment link for an appointment type
      tags:
      - Acuity
  /acuity/locations:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get unique acuity locations.
      tags:
      - Acuity
  /acuity/book-appointment:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Book an appointment
      tags:
      - Acuity
  /acuity/cancel-appointment:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Cancel an appointment
      tags:
      - Acuity
  /acuity/handle-appointment:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Book an appointment
      tags:
      - Acuity
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
