openapi: 3.2.0
info:
  title: Zoca App API
  contact: {}
  x-refined-note:
  - x-apievangelist-note differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged App across 3 of this provider''s published API definitions: zoca-platform-openapi.yml, zoca-public-openapi.yml, zoca-tasks-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.zoca.ai
  description: Production
- url: https://public.zoca.com
  description: Production
- url: https://tasks.zoca.ai
  description: Production
tags:
- name: App
  description: Endpoints consumed by the mobile App
paths:
  /business-profile:
    get:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Sucessfully onboarded the location for given entity id
      summary: Get business profile information by entity Id
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /business-profile/primary-category-suggestion:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get primary category suggestions
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /business-profile/additional-category-suggestion:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get additional category suggestions
      tags:
      - App
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get additional category suggestions (v2)
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /business-profile/booking-platforms:
    get:
      description: Retrieves a list of all active booking platforms including Vagaro, GlossGenius, StyleSeat, and Booksy.
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: List of booking platforms retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/e'
      summary: Get all booking platforms
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /business-profile/social-platforms:
    get:
      description: Retrieves a list of all active social media platforms including Facebook, Instagram, LinkedIn, TikTok, Twitter, YouTube, and Pinterest.
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: List of social media platforms retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/e'
      summary: Get all social media platforms
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /business-profile/{entityId}/booking-link:
    put:
      description: Updates the booking link for a specified platform, deactivating any existing active link for that platform.
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: path
        description: Entity ID of the user/business
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        description: Service creation data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e'
      responses:
        '200':
          description: Booking link updated successfully
      summary: Update booking link for a platform
      tags:
      - App
    get:
      description: Updates the booking link for a specified platform, deactivating any existing active link for that platform.
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: path
        description: Entity ID of the user/business
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: Booking link updated successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/e'
      summary: Update booking link for a platform
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /business-profile/update-profile-data:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update business profile data
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /business-profile/website-domain/{entityId}:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update website domain data
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /business-profile/website-domain-quotation/{entityId}:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get domain quotation
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /webview:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get webviews by query parameters
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /app-blocker/updates/{id}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Update retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '404':
          description: Update not found
      security:
      - bearer: []
      summary: Get update by ID
      tags:
      - App
    delete:
      operationId: t_value
      parameters: []
      responses:
        '204':
          description: Update deleted successfully
        '404':
          description: Update not found
      security:
      - bearer: []
      summary: Delete an app blocker update
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /auth/check:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Returns authentication status
          content:
            application/json:
              schema:
                type: boolean
                example: true
      summary: Check authentication status
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /auth/google-auth-url:
    get:
      operationId: t_value
      parameters:
      - name: redirectUrl
        required: false
        in: query
        description: Optional redirect URL after authentication
        schema: {}
      - name: clientId
        required: true
        in: query
        description: Client application ID (e.g., zoca-web, zoca-app)
        schema: {}
      responses:
        '200':
          description: Google Authentication URL
          content:
            application/json:
              schema:
                example:
                  url: https://api.zoca.ai/auth/
      summary: Google Authentication URL
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /auth/square/authorize:
    get:
      description: Generates the Square OAuth authorization URL for entity integration. Use isWinAgent=true to request Win Agent specific permissions.
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Square OAuth authorization URL generated successfully
          content:
            application/json:
              schema:
                example:
                  url: https://squareup.com/oauth2/authorize?client_id=...&scope=...
        '400':
          description: Invalid request - missing entityId
          content:
            application/json:
              schema:
                example:
                  message: entityId is required
                  error: Bad Request
                  statusCode: 400
      summary: Square OAuth Authorization URL
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /auth/instagram/authorize:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Instagram OAuth authorization URL
          content:
            application/json:
              schema:
                example:
                  url: https://www.instagram.com/oauth/authorize?client_id=...
      summary: Instagram OAuth Authorization URL
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /auth/tiktok/authorize:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: TikTok OAuth authorization URL
          content:
            application/json:
              schema:
                example:
                  url: https://www.tiktok.com/v2/auth/authorize?client_key=...
      summary: TikTok OAuth Authorization URL
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /auth/magic-link/verify:
    post:
      description: Validates the magic link token and returns JWT access token and refresh token. Tokens are single-use - the magic link cannot be used again after verification.
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Token verified, auth tokens returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                example:
                  statusCode: 400
                  message: Invalid or expired magic link
                  error: Bad Request
      summary: Verify a magic link token and get auth tokens
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /campaigns/requests:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: List campaign requests for an entity
      tags:
      - App
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a new campaign request
      tags:
      - App
    patch:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update a campaign request
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /campaigns/requests/count:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get campaign request counts by status
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /campaigns/requests/{id}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get a campaign request by ID
      tags:
      - App
    delete:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Delete a campaign request
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /campaigns/suggestions:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: List all campaign suggestions
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /campaigns/flyers:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: List all campaign flyers
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /chatbot/calls/{callId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Call details retrieved successfully
      summary: Get call details by call ID
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /chatbot/calls/{callId}/regenerate-summary:
    get:
      operationId: t_value
      parameters:
      - name: callId
        required: true
        in: path
        description: Unique identifier for the call
        schema:
          type: string
      responses:
        '200':
          description: Call summary retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    type: string
                    description: The call summary or "No summary available"
                  regenerateSummary:
                    type: boolean
                    description: Indicates if the summary was newly generated
        '400':
          description: Bad request - CallId is required
        '404':
          description: Call record not found
      summary: Regenerate call summary by call ID
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /chatbot/retell/phone/{phoneNumber}:
    put:
      operationId: t_value
      parameters:
      - name: phoneNumber
        required: true
        in: path
        description: Phone number to update
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e'
      responses:
        '200':
          description: Phone number configuration updated successfully
        '400':
          description: Invalid request payload
        '404':
          description: Phone number not found
      summary: Update a phone number configuration
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /chatbot/phone/purchase:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Purchase a new phone number
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /chatbot/feedback:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Feedback created successfully
        '400':
          description: Invalid request payload or missing entityId
      summary: Create a new feedback record
      tags:
      - App
    get:
      operationId: t_value
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of items per page
        schema:
          type: number
      - name: page
        required: false
        in: query
        description: Page number (1-indexed)
        schema:
          type: number
      - name: entityId
        required: true
        in: query
        description: Entity ID to retrieve feedback for
        schema:
          type: string
      responses:
        '200':
          description: Feedback list retrieved successfully
        '400':
          description: entityId is required
      summary: Get all feedback records for an entity with pagination
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /chatbot/feedback/{id}:
    put:
      operationId: t_value
      parameters:
      - name: id
        required: true
        in: path
        description: Feedback record ID to update
        schema:
          type: string
      responses:
        '200':
          description: Feedback updated successfully
        '400':
          description: Invalid request payload or missing entityId
        '404':
          description: Feedback not found or not accessible
      summary: Update an existing feedback record
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /chat/conversations:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Returns conversation(s) based on filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid parameters
      summary: Get conversations list or single conversation details
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /chat/message:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Message created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid message data
      summary: Create a new message in a conversation
      tags:
      - App
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Message updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/t'
        '400':
          description: Invalid update data
        '404':
          description: Message not found
      summary: Update message text or soft delete
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /chat/reaction:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Reaction added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/t'
        '400':
          description: Invalid reaction data
        '404':
          description: Message not found
      summary: Add reaction to a message
      tags:
      - App
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Reaction updated successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/e'
        '400':
          description: Invalid update data
        '404':
          description: Reaction not found
      summary: Update or soft delete a reaction
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /chat/message-receipt:
    post:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Messages marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid receipt data
      summary: Mark messages as read in a conversation
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a new client with contact information
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/bulk:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Bulk create clients with contact information
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/bulk-s3:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Bulk import clients from S3 URL
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/entity/{entityId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get clients by entity ID with pagination
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/block:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Block or restore clients
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/entity/{entityId}/blocked:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get blocked clients for an entity with pagination
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/{clientId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get a client by ID
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/{entityId}/clientFile:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Store a client file for an entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/comm-types:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get available communication types
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /clients/comms/{commId}/status:
    patch:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update communication status
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: List all booking enquiries with pagination and filters
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/sources:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: List distinct enquiry sources for an entity (source filter options)
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/enquiry-status:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get enquiry status statistics for an entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/{entityId}/search:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Search clients by name, number, or query
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/enquiry-stats:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get detailed enquiry statistics for an entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/multilocation/{businessEntityId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      summary: List enquiries across all locations of a business with network stats
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/{enquiryId}/enquiry:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get enquiry details by ID
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/{enquiryId}/status:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update enquiry status with reason and services
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/{clientId}/notes:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Add a note to a client
      tags:
      - App
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get all notes for a client
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/{clientId}/enquiries:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get all enquiries for a client with status filter
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/notes/{noteId}:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update an existing client note
      tags:
      - App
    delete:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Delete a client note
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/{clientId}/communication-logs:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Add communication log for a client
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/client-conversation:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Add a conversation message for a client
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/{clientId}/app/chat:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get chat data for mobile app
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/{clientId}/summary:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get summary of client interactions
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/{entityId}/text-templates:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: List all text templates for an entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/text-templates/{templateId}:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update an existing text template
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/{entityId}/text-template-preferences:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update text template preferences
      tags:
      - App
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get text template preferences for an entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/formatted-text-template:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Format text template with client data
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/{entityId}/automated-text-templates:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get default lead communication templates
      tags:
      - App
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update lead communication templates
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/{locationEntityId}/automated-text-templates/variables:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get lead communication template variable values
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/automated-text-templates/variables:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get available automated communication variables
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/{entityId}/automated-text-templates/preferences:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get automated communication template preferences
      tags:
      - App
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update automated communication template preferences
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/{entityId}/text-template-order:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get text template order for a client
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/conversation-activity:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get conversation activity details for a client or enquiry
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /booking-enquiries/client-conversations:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Returns paginated list of client conversations
      summary: Get client conversations including SMS and calls
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /entities/locations:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get all locations for a user
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /entities/onboarding-state:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Update onboarding state for an entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /entities/location/{entityId}:
    put:
      description: Updates any columns in the entities.locations table. All fields are optional. Attributes are merged with existing values (preserves old keys, updates matching keys).
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: path
        description: UUID of the location entity to update
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Successfully updated location
          content:
            application/json:
              schema:
                example:
                  entityId: 123e4567-e89b-12d3-a456-426614174000
                  name: Updated Business Name
                  address:
                    locality: New York
                    postalCode: '10001'
                    regionCode: US
                    addressLines:
                    - 123 Main Street
                  category: Restaurant
                  businessCategory: Beauty
                  timezone: America/New_York
                  attributes:
                    customerSource:
                    - Groupon
                    - Yelp
                    clientContactsNumber: 10
        '400':
          description: Invalid entity ID format
          content:
            application/json:
              schema:
                example:
                  message: Invalid UUID format
                  error: Bad Request
                  statusCode: 400
        '404':
          description: Location entity not found
          content:
            application/json:
              schema:
                example:
                  message: Location with entityId 123e4567-e89b-12d3-a456-426614174000 not found
                  error: Not Found
                  statusCode: 404
      summary: Update location data
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /entities/location/{entityId}/details:
    get:
      description: Retrieves core location information including name, address, category, timezone, lead masking status, and business hours for a specific location entity.
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: path
        description: UUID of the location entity to retrieve details for
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Successfully retrieved location details
          content:
            application/json:
              schema:
                example:
                  entityId: 123e4567-e89b-12d3-a456-426614174000
                  name: Sample Business
                  address:
                    locality: New York
                    postalCode: '10001'
                    regionCode: US
                    addressLines:
                    - 123 Main Street
                    languageCode: en
                    administrativeArea: NY
                  category: Restaurant
                  timezone: America/New_York
                  leadMasking:
                    status: true
                    metadata: {}
                  openInfo:
                    status: OPEN
                    canReopen: true
        '400':
          description: Invalid entity ID format
          content:
            application/json:
              schema:
                example:
                  message: Invalid UUID format
                  error: Bad Request
                  statusCode: 400
        '404':
          description: Location entity not found
          content:
            application/json:
              schema:
                example:
                  message: Location not found
                  error: Not Found
                  statusCode: 404
      summary: Get essential location details
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /entities/location/{entityId}/rwg-status:
    get:
      description: Retrieves whether the 'Book online' button on the Google Business Profile is enabled for a location (entities.locations.rwg_enabled).
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: path
        description: UUID of the location entity
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Successfully retrieved RWG status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      summary: Get Reserve with Google status
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /entities/{entityId}/more-tab-cards:
    get:
      description: Returns boolean flags indicating which cards should be displayed in the More tab. Currently includes Instagram leads card visibility based on recent activity.
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: path
        description: UUID of the entity to check card visibility for
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Successfully retrieved More tab card visibility markers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid entity ID format
          content:
            application/json:
              schema:
                example:
                  message: Invalid UUID format
                  error: Bad Request
                  statusCode: 400
      summary: Get visibility markers for More tab cards
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /entities/products/{entityId}:
    get:
      operationId: t_value
      parameters:
      - name: includeInactive
        required: false
        in: query
        description: Include inactive products in the response
        schema:
          type: boolean
      responses:
        '200':
          description: ''
      summary: Get products for an entity
      tags:
      - App
    put:
      description: Associates a product with an entity or updates an existing product entity relationship
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Successfully created or updated the product entity relationship
          content:
            application/json:
              schema:
                example:
                  id: f47ac10b-58cc-4372-a567-0e02b2c3d479
                  entityId: abc123-456-789
                  productId: 1
                  isActive: true
                  attributes:
                    feature: enabled
                  createdAt: '2023-01-01T00:00:00.000Z'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                example:
                  message: Validation failed
                  error: Bad Request
                  statusCode: 400
      summary: Create or update a product entity relationship
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /entities/{entityId}/preferences:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create or update an entity preference
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /entities/location/{entityId}/booking-link:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Successfully fetched the booking link
      summary: Get booking link for a location
      tags:
      - App
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Successfully updated the booking link
      summary: Update booking link for a location
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /entities/offboarding-reason-templates:
    get:
      description: Retrieves a list of active offboarding reason templates. Either agentId OR isDeleteAccount must be provided, but not both.
      operationId: t_value
      parameters:
      - name: isDeleteAccount
        required: false
        in: query
        description: Set to true to get account-level deletion reasons
        schema:
          example: true
          type: boolean
      - name: agentId
        required: false
        in: query
        description: Agent entity ID to get agent-specific offboarding reasons
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Successfully retrieved offboarding reason templates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/e'
        '400':
          description: Invalid request - exactly one parameter is required
          content:
            application/json:
              schema:
                example:
                  message: 'At least one parameter is required: agentId or isDeleteAccount'
                  error: Bad Request
                  statusCode: 400
      summary: Get active offboarding reason templates
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /entities/offboarding/active-subscriptions/v2/{entityId}:
    get:
      description: Retrieves active agent subscriptions, billing information, and delete account status for offboarding workflows. Includes HubSpot meeting data by default.
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Successfully retrieved active subscriptions and offboarding information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid entity ID format
          content:
            application/json:
              schema:
                example:
                  message: Invalid UUID format
                  error: Bad Request
                  statusCode: 400
        '401':
          description: Missing or invalid JWT authentication
          content:
            application/json:
              schema:
                example:
                  message: Unauthorized
                  error: Unauthorized
                  statusCode: 401
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                example:
                  message: Failed to retrieve active subscriptions
                  error: Internal Server Error
                  statusCode: 500
      summary: Get active subscriptions and offboarding information for an entity (with HubSpot meeting)
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /entities/{entityId}/trigger-payment-link-comms:
    post:
      description: Triggers payment link communications for an entity by fetching the Chargebee payment link and sending it to all associated users via MoEngage. The entity must have an active or future subscription.
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: path
        description: UUID of the entity to trigger payment link communications for
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Successfully triggered payment link communications
          schema:
            example:
              success: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid entity ID format
          content:
            application/json:
              schema:
                example:
                  message: 'Invalid entity ID format: invalid-uuid'
                  error: Bad Request
                  statusCode: 400
        '404':
          description: No active subscription found for the entity
          content:
            application/json:
              schema:
                example:
                  message: 'No active subscription found for entity: 123e4567-e89b-12d3-a456-426614174000'
                  error: Not Found
                  statusCode: 404
        '500':
          description: Internal server error - Failed to trigger payment link communications
          content:
            application/json:
              schema:
                example:
                  message: 'Failed to trigger payment link communications: Public server error'
                  error: Internal Server Error
                  statusCode: 500
      summary: Trigger payment link communications for an entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /entities/{entityId}/review-insights:
    post:
      description: Retrieves review insights including lead predictions and review targets for a location entity. Accepts predictedLeads value in request body to calculate lead distributions. Review targets are fetched from the non-ICP pipeline.
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: path
        description: UUID of the location entity to retrieve review insights for
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Successfully retrieved review insights
          schema:
            example:
              leadsWithoutReview: 10
              leadsWithReview: 28
              reviewTarget: 8 reviews per week
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid entity ID format or invalid request body
          content:
            application/json:
              schema:
                example:
                  message: 'Invalid entity ID format: invalid-uuid'
                  error: Bad Request
                  statusCode: 400
        '500':
          description: Internal server error - Failed to retrieve review insights
          content:
            application/json:
              schema:
                example:
                  message: 'Failed to get review insights: Database connection error'
                  error: Internal Server Error
                  statusCode: 500
      summary: Get review insights for an entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /entities/{entityId}/hubspot/meetings:
    get:
      description: Retrieves upcoming HubSpot meetings for a location entity via its associated contact and deal. Returns meeting details including reschedule and cancel URLs extracted from the meeting body.
      operationId: t_value
      parameters:
      - name: limit
        required: false
        in: query
        description: 'Maximum number of upcoming meetings to return (default: 1)'
        schema:
          example: 1
          type: number
      - name: entityId
        required: true
        in: path
        description: UUID of the location entity
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Successfully retrieved upcoming HubSpot meetings
          content:
            application/json:
              schema:
                example:
                - meetingId: 12345678
                  date:
                    date:
                      year: 2025
                      month: 6
                      day: 15
                    time:
                      hour: 14
                      minute: 0
                      second: 0
                  canReschedule: true
                  rescheduleUrl: https://app-na2.hubspot.com/meetings/zoca-admin/demo-scheduled?rescheduleId=abc123
                  joinMeetingEnabled: true
                  meetingUrl: https://meet.google.com/abc-def-ghi
                  cancelUrl: https://app-na2.hubspot.com/meetings/cancel?cancelUuid=xyz789
        '400':
          description: Invalid entity ID
      summary: Get upcoming HubSpot meetings for an entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /events:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Handle incoming event from Lambda
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /features:
    get:
      operationId: t_value
      parameters:
      - name: businessEntityId
        required: true
        in: query
        description: The business entity id
        schema:
          type: string
      - name: locationEntityId
        required: true
        in: query
        description: The location entity id
        schema:
          type: string
      - name: userEntityId
        required: true
        in: query
        description: The user entity id
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Get all available features for an entity based on active products
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /features/insights-tabs:
    get:
      operationId: t_value
      parameters:
      - name: businessEntityId
        required: true
        in: query
        description: The business entity id
        schema:
          type: string
      - name: locationEntityId
        required: true
        in: query
        description: The location entity id
        schema:
          type: string
      - name: userEntityId
        required: true
        in: query
        description: The user entity id
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Get Insights tabs with URLs based on active products
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /gbp-location/list:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: List all locations for entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /gbp-location/create:
    post:
      operationId: t_value
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entityId:
                  type: string
                  example: e5318b53-cb09-4edb-a8d6-fa19d8fb3250
                locationName:
                  type: string
                  example: locations/6151354253777559174
              required:
              - entityId
              - locationName
      responses:
        '201':
          description: Sucessfully onboarded the location for given entity id
          content:
            application/json:
              schema:
                example:
                  status: true
                  message: Success
                  data:
                    entityId: e5318b53-cb09-4edb-a8d6-fa19d8fb3250
                    firstName: Deepesh
                    lastName: Rathod
                    createdAt: '2024-10-21T05:01:04.138Z'
                  code: 200
      summary: Onboard a gbp location for entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /gbp-location/posts/list:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: List posts for location
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /gbp-location/posts:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get a single post by name
      tags:
      - App
    patch:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update a post
      tags:
      - App
    delete:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Delete a post
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /gbp-location/keyword-impression-insights:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Successfully retrieved keyword impression insights
      summary: Get keyword impression insights for a location
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /gbp-location/performance-insights:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get performance insights for location
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /google-maps/place-auto-complete:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get place autocomplete suggestions
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /google-maps/place-id-details:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get place details by place ID
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /homepage/activation-steps:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get activation steps status
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /homepage:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get homepage data
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /homepage/homepage-components:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get homepage components
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /homepage/activation-steps-data:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get activation steps data
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /homepage/check-website-status:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Check website status
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /homepage/monthly-report:
    get:
      description: When listAll=true returns all active reports; otherwise returns the single report (by reportType or default PERFORMANCE_REPORT).
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Monthly report(s) retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '404':
          description: No report found
      summary: Get monthly report(s) for an entity
      tags:
      - App
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Monthly report updated successfully
      summary: Update monthly report status
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /homepage/referrals/link/{businessEntityId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get referral link for business
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /homepage/referrals:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a referral
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /homepage/carousel-cards:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Carousel cards data retrieved successfully
      summary: Get carousel cards for Win Agent onboarding
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /homepage/discovery-metrics:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get cumulative discovery metrics since onboarding
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /media:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Media created successfully
      summary: Create a new media
      tags:
      - App
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Return all media
      summary: Get all media
      tags:
      - App
    delete:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Media deleted successfully
      summary: Delete a media
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /media/scheduled-media:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get scheduled media for a location
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /media/logo-and-cover-image:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get logo and cover image for a location
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /media/log-failed-media-time:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Log failed media upload time
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /meta/business-discovery:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get Instagram business discovery data
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /meta/media:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get all media for a specific Instagram business account
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /meta/connect-instagram:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Connect an Instagram business account to a location entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /meta/upload-media:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Upload selected media to specified destinations
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /meta/account-status:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Check if an Instagram business account is already connected to a location entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /meta/disconnect-instagram:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Disconnect an Instagram business account from a location entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /tiktok/videos:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: TikTok videos retrieved successfully
          content:
            application/json:
              schema:
                example:
                  videos:
                  - id: video_123
                    title: My awesome video
                    cover_image_url: https://example.com/cover.jpg
                    create_time: 1643332803
                    duration: 30
                    share_url: https://tiktok.com/@user/video/123
                  cursor: 1643332803000
                  has_more: true
      summary: Get user's TikTok videos
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /tiktok/creator-info:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: TikTok creator information retrieved successfully
          content:
            application/json:
              schema:
                example:
                  privacy_level_options:
                  - PUBLIC_TO_EVERYONE
                  - MUTUAL_FOLLOW_FRIENDS
                  comment_disabled: false
                  duet_disabled: false
                  stitch_disabled: false
                  max_video_post_duration_sec: 60
      summary: Get TikTok creator information for publishing
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /offers/draft:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Draft offer created successfully
      summary: Create a draft offer with optional fields
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /offers/{id}/draft:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Draft offer updated successfully
      summary: Update a draft offer with field-by-field updates
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /offers/{id}:
    get:
      operationId: t_value
      parameters:
      - name: source
        in: header
        description: Request source identifier (e.g., "zoca-app")
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Offer details retrieved successfully
      summary: Get offer details
      tags:
      - App
    delete:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Offer soft deleted successfully
      summary: Soft delete an offer
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /offers/channels/{entityId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Channels retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/e'
      summary: List available channels for offer creation with publishOn dates
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /offers/description/generate:
    post:
      description: Uses LLM to generate an offer description based on business category, services, and additional variables
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Description generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Bad request or prompt not found
        '404':
          description: Offer or entity not found
      summary: Generate AI-powered description for an offer
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /offers/description/validate:
    post:
      description: Uses LLM to validate an offer description based on business category, services, and additional variables
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Description validated successfully
        '400':
          description: Bad request or prompt not found
        '404':
          description: Offer or entity not found
      summary: Validate AI-powered description for an offer
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /offers/entities/{entityId}/status:
    get:
      operationId: t_value
      parameters:
      - name: app-version
        in: header
        description: Mobile app version
        required: false
        schema:
          type: string
      - name: source
        in: header
        description: Source of the request (e.g., "zoca-app")
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Offers retrieved successfully
      summary: List all offers on an entity with status
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /offers/entities/{entityId}/status/count:
    get:
      description: Returns the count of offers for each status (DRAFT, FUTURE, LIVE, PAUSED, EXPIRED). Always returns all statuses even if count is 0. When requests come from zoca-app or mobile app (app-version header), offers with offerType = NOT_AN_OFFER are excluded.
      operationId: t_value
      parameters:
      - name: app-version
        in: header
        description: Mobile app version
        required: false
        schema:
          type: string
      - name: source
        in: header
        description: Source of the request (e.g., "zoca-app")
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Status counts retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    status:
                      type: string
                      enum:
                      - DRAFT
                      - FUTURE
                      - LIVE
                      - PAUSED
                      - EXPIRED
                      example: LIVE
                    count:
                      type: number
                      example: 10
                example:
                - status: DRAFT
                  count: 2
                - status: FUTURE
                  count: 5
                - status: LIVE
                  count: 10
                - status: PAUSED
                  count: 1
                - status: EXPIRED
                  count: 0
      summary: Get count of offers grouped by status for an entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /offers/entities/{entityId}/search:
    get:
      description: Performs case-insensitive partial matching on offer titles. Returns offers with all associations (services, media, CTAs, addons, channels) and calculated status (DRAFT, FUTURE, LIVE, PAUSED, EXPIRED). Uses page-based pagination for better UX.
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Offers retrieved successfully with pagination metadata and calculated status
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                  totalCount:
                    type: number
                    example: 25
                  totalPages:
                    type: number
                    example: 3
                  currentPage:
                    type: number
                    example: 1
        '400':
          description: Invalid search parameters
      summary: Search offers by title with status calculation
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /offers/{offerId}/suggestions:
    get:
      description: Retrieves all suggestions for a specific offer from the requests table along with their request status and creation timestamp. The createdAt field is converted to a DateTime object with separate date and time components. Suggestions are ordered by creation date descending (newest first).
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Suggestions retrieved successfully with status and creation timestamp
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    status:
                      type: string
                      example: COMPLETED
                    suggestion:
                      type: string
                      example: Update the offer description to be more clear
                    createdAt:
                      type: object
                      description: DateTime object with separate date and time components
                      properties:
                        date:
                          type: object
                          properties:
                            year:
                              type: number
                              example: 2025
                            month:
                              type: number
                              example: 12
                            day:
                              type: number
                              example: 9
                        time:
                          type: object
                          properties:
                            hours:
                              type: number
                              example: 14
                            minutes:
                              type: number
                              example: 30
                            seconds:
                              type: number
                              example: 0
                            nanos:
                              type: number
                              example: 0
                example:
                - status: COMPLETED
                  suggestion: Update the offer description to be more clear
                  createdAt:
                    date:
                      year: 2025
                      month: 12
                      day: 9
                    time:
                      hours: 14
                      minutes: 30
                      seconds: 0
                      nanos: 0
                - status: PENDING
                  suggestion: Add more details about the discount
                  createdAt:
                    date:
                      year: 2025
                      month: 12
                      day: 8
                    time:
                      hours: 10
                      minutes: 15
                      seconds: 30
                      nanos: 0
        '400':
          description: Invalid request parameters
      summary: Get suggestions for an offer
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /onboarding/app-visitor:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Register app visitor
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /onboarding/update-user:
    post:
      operationId: t_value
      parameters: []
      requestBody:
        required: true
        description: User profile update data
        content:
          application/json:
            schema:
              type: object
              properties:
                entity_id:
                  type: string
                  description: Unique identifier for the user
                firstName:
                  type: string
                  description: User's first name
                lastName:
                  type: string
                  description: User's last name
                primaryPhone:
                  type: object
                  properties:
                    phone_number:
                      type: string
                      description: Primary phone number
                    country_code:
                      type: string
                      description: Country code for primary phone
                secondaryPhone:
                  type: object
                  properties:
                    phone_number:
                      type: string
                      description: Secondary phone number
                    country_code:
                      type: string
                      description: Country code for secondary phone
                primaryEmail:
                  type: string
                  format: email
                  description: Primary email address
                secondaryEmail:
                  type: string
                  format: email
                  description: Secondary email address
              required:
              - entity_id
      responses:
        '200':
          description: User profile updated successfully
          content:
            application/json:
              schema:
                example:
                  status: success
                  message: User profile updated
                  data:
                    entityId: '1234567890'
                    firstName: John
                    lastName: Doe
        '400':
          description: Bad Request
        '404':
          description: User not found
      summary: Update User Profile
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /onboarding/onboarding-state:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get onboarding state for entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /onboarding/user-profile:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get user profile information
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /onboarding/quick-recap:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Onboarding quick recap pointers retrieved successfully
          content:
            application/json:
              schema:
                example:
                - I trust Zoca to select the best keywords for my business.
                - I'll collect regular 5-star reviews to boost my visibility
                - Zoca will help me get both new and returning clients
                - I expect steady growth, not overnight results
                - I'll reach out to leads on the Zoca app to ensure they book
      summary: Get onboarding quick recap pointers
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /onboarding/business-categories:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Business categories retrieved successfully
          content:
            application/json:
              schema:
                example:
                - Hair salon
                - Facial
                - Lash & brow
                - Permanent makeup
                - Med spa
                - Nail salon
                - Waxing
                - Braider
                - Barber
                - Massage
                - Other
      summary: Get list of business categories
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /onboarding/customer-sources:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Customer sources retrieved successfully
          content:
            application/json:
              schema:
                example:
                - Groupon
                - Yelp
                - ClassPass
                - Google
                - Word of Mouth
      summary: Get list of customer sources
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /onboarding/search-booking-link:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Search for booking platform link
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /onboarding/check-platform-selection/{locationEntityId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Platform selection status retrieved successfully (within 10 hours of onboarding)
          schema:
            example:
              isPlatformSelected: true
              platformName: square,vagaro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Bad Request - Invalid UUID format or missing platform names
        '404':
          description: Onboarding record not found
      summary: Check if specific platforms were selected during onboarding within 10 hours
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /onboarding/trigger-comms:
    post:
      description: Triggers onboarding communication events based on user actions during onboarding flow. For REVIEW_SCREEN_VIEW type, calculates and includes review insights data.
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Onboarding communication event triggered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Bad Request - Missing required fields or invalid data
        '500':
          description: Internal Server Error - Failed to trigger onboarding communication
      summary: Trigger onboarding communications for MoEngage notifications
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /pipedrive/person/upsert:
    post:
      description: Processes incoming request to create a pipedrive person
      operationId: t_value
      parameters: []
      requestBody:
        required: true
        description: Pipedrive person payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        '201':
          description: Pipedrive person created successfully
      summary: Create Pipedirve Person
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /pipedrive/organization/upsert:
    post:
      description: Processes incoming request to create a pipedrive organization
      operationId: t_value
      parameters: []
      requestBody:
        required: true
        description: Pipedrive organization payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        '201':
          description: Pipedrive organization created successfully
      summary: Create Pipedirve Organization
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /pipedrive/lead/status:
    get:
      description: Processes incoming request to get the lead status
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get Lead Status
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /pipedrive/lead/callback:
    get:
      description: Processes incoming request to request a callback
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Requested a callback
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /requests-api/fromTemplate:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a request from a template
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /requests-api/{id}:
    delete:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Delete a request by ID
      tags:
      - App
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update a request by ID
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /requests-api/{entityId}/list:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: List requests for an entity with optional pagination
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /requests-api/filters:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Filter requests excluding specified types
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /requests-api/{id}/additionalData:
    patch:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Patch additional data for a request
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /requests-api/categories/{entityId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get ticket categories for an entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /services-sync/request:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get current sync request for a location
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /services-sync/resync/request:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a resync request
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /review-invites/client-sources:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get available client sources for an entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /review-invites/clients:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get clients filtered by source with pagination
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /review-invites/client-phone:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get client phone numbers for an entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /review-invites/search-clients:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Search clients by term with pagination
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /review-invites/text-templates:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get SMS text templates for review invites
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /review-invites/text-templates/{templateId}:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update a text template by ID
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /review-invites/invites-status:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get all invite status counts for an entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /review-invites/invites-by-status:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get invites filtered by status with pagination
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /review-invites/{entityId}/invite:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Send review invites to clients
      tags:
      - App
    delete:
      operationId: t_value
      parameters: []
      responses:
        '204':
          description: ''
      summary: Delete a review invite
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /review-invites/{entityId}/invite-reminder:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Send review invite reminders to clients
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /review-invites/qr-code:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get QR code for review invites
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /review-invites/formatted-text-template:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Format a text template with client data
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /review-invites/email-ra-optin:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Store email review automation opt-in status
      tags:
      - App
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get email review automation opt-in status
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /review-invites/review-link:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get the review link for a location
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /reviews/{entityId}/reviews:
    get:
      description: Retrieves paginated list of reviews for a specific entity with optional sorting and search functionality
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get paginated reviews for an entity
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /reviews/review-id:
    get:
      description: Retrieves a specific review by its ID along with reply status
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get review by ID
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /reviews/{reviewId}/reply:
    post:
      description: Creates a reply to a specific review, can be AI-generated or manual
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a reply to a review
      tags:
      - App
    put:
      description: Updates an existing reply to a review with new content or AI-generated status
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update a review reply
      tags:
      - App
    delete:
      description: Deletes an existing reply to a review
      operationId: t_value
      parameters: []
      responses:
        '204':
          description: ''
      summary: Delete a review reply
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /reviews/stats:
    get:
      description: Retrieves statistical data about reviews for a specific entity
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get review statistics
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /reviews/{entityId}/preferences:
    post:
      description: Updates review preferences for a specific entity including reply settings and templates
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Set review preferences
      tags:
      - App
    get:
      description: Retrieves review preferences for a specific entity including reply settings and templates
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get review preferences
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /reviews/{entityId}/app/gbp-component:
    get:
      description: Retrieves component data for Google Business Profile reviews display in the app
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get Google Business Profile component data
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /reviews/{entityId}/app/card:
    get:
      description: Retrieves review-related cards data for display in the app dashboard based on review metrics
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get review cards for app dashboard
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /scheduling/bookings/{id}:
    get:
      operationId: t_value
      parameters:
      - name: id
        required: true
        in: path
        description: Booking ID
        schema:
          type: string
      responses:
        '200':
          description: Booking retrieved successfully
        '404':
          description: Booking not found
      summary: Get booking by ID with aggregated data
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /scheduling/onboarding/{entityId}/{locationEntityId}/status:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get onboarding status for an entity and location
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /scheduling/stripe/terminal/connection-token:
    post:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: Create Stripe Terminal connection token
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /scheduling/stripe/terminal/tap-to-pay-config:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: Get Tap to Pay configuration
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /scheduling/stripe/terminal/ensure-location:
    post:
      description: Creates a Stripe Terminal Location (tml_...) for the connected account using the stored address for locationEntityId, persists it to entities.locations, and returns it.
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: Provision Stripe Terminal location for a connected account
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /scheduling/checkout-tip-config:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: List checkout tip presets for a location
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /scheduling/checkout/pay:
    post:
      description: Unified payment endpoint supporting CASH, CARD, CARD_ON_FILE, and TAP_TO_PAY. Cash payments are immediately COMPLETED. Card payments return PROCESSING status and are confirmed via webhook.
      operationId: t_value
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e'
      responses:
        '200':
          description: Payment processed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentId:
                    type: string
                    format: uuid
                    description: Payment record ID
                  status:
                    type: string
                    enum:
                    - COMPLETED
                    - PROCESSING
                    - FAILED
                    description: Payment status
                  saleStatus:
                    type: string
                    enum:
                    - OPEN
                    - PARTIALLY_PAID
                    - PAID
                    description: Updated sale status
                  amountPaid:
                    type: number
                    description: Total amount paid in cents
                  amountDue:
                    type: number
                    description: Remaining amount due in cents
                  processingFeeAmount:
                    type: number
                    description: Processing fee charged for this payment in dollars
                  preProcessingAmount:
                    type: number
                    description: Base amount used for fee calculation in dollars
                  chargeAmount:
                    type: number
                    description: Gross amount charged to the customer in dollars
                  stripePaymentIntentId:
                    type: string
                    description: Stripe PaymentIntent ID (card payments only)
                  clientSecret:
                    type: string
                    description: Client secret for confirming payment (new card only)
                  cardBrand:
                    type: string
                    description: Card brand (visa, mastercard, etc.)
                  cardLast4:
                    type: string
                    description: Last 4 digits of card
                  latestAttemptId:
                    type: string
                    description: CARD_READER only — id of the reader attempt row for cancel/retry polling
                  message:
                    type: string
                    description: Status message
        '400':
          description: Bad request - validation failed
        '404':
          description: Sale not found
      summary: Process a payment for a sale
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /scheduling/checkout/processing-fee-quote:
    post:
      description: Returns the pass-through processing fee and gross customer charge for the selected payment method.
      operationId: t_value
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e'
      responses:
        '200':
          description: ''
      summary: Quote checkout processing fee
      tags:
      - App
    servers:
    - url: https://api.zoca.ai
      description: Production
  /scheduling/checkout/sale/{saleId}/tip:
    patch:
      description: Persists the tip on the sale (override, not accumulate) before collecting payment so the checkout total and processing-fee quote stay correct. Omitting additionalTip (or sending a zero value) clears the tip.
      operationId: t_value
      parameters:
      - name: saleId
        required: true
        in: path
        description: Sale ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
[...]
