openapi: 3.2.0
info:
  title: Zoca Platform FrontDesk Activity API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: FrontDesk Activity
paths:
  /frontdesk/activity/entity/{entityId}/active-call-count:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get the number of active Front Desk calls for an entity
      tags:
      - FrontDesk Activity
  /frontdesk/activity/entity/{entityId}:
    get:
      operationId: t_value
      parameters:
      - name: search
        required: false
        in: query
        schema:
          type: string
      - name: range
        required: false
        in: query
        schema:
          enum:
          - today
          - week
          - month
          type: string
      - name: limit
        required: false
        in: query
        schema:
          type: number
      - name: page
        required: false
        in: query
        schema:
          type: number
      responses:
        '200':
          description: ''
      summary: Get the FrontDesk activity feed for an entity
      tags:
      - FrontDesk Activity
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
