openapi: 3.2.0
info:
  title: Zoca Platform Scheduling Quick Sale API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Scheduling Quick Sale
paths:
  /scheduling/quick-sale:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Quick Sale created — frontend routes to checkout
        '400':
          description: Invalid input (no products, qty<1, etc.)
        '404':
          description: Client, product, or variant not found
        '409':
          description: Product is archived
      security:
      - bearer: []
      summary: Create a Quick Sale walk-in (PRODUCT-only booking + sale)
      tags:
      - Scheduling Quick Sale
  /scheduling/quick-sale/service-lines/{lineId}/entity/{entityId}:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Service line offer updated
        '400':
          description: Invalid input or scope mismatch
        '404':
          description: Service line or sale not found
      security:
      - bearer: []
      summary: Apply or remove an offer on a QS service line
      tags:
      - Scheduling Quick Sale
    delete:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: QS service line removed
        '400':
          description: Line or sale is appointment-derived
        '404':
          description: Service line or sale not found
        '409':
          description: Sale is settled or would be left empty
      security:
      - bearer: []
      summary: Remove a SERVICE line from a QS sale
      tags:
      - Scheduling Quick Sale
  /scheduling/quick-sale/{saleId}/service-lines:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Service line added to QS sale
        '400':
          description: Invalid input or sale is appointment-derived
        '404':
          description: Sale or service not found
        '409':
          description: Sale is settled
      security:
      - bearer: []
      summary: Add a SERVICE line to an OPEN Quick Sale
      tags:
      - Scheduling Quick Sale
  /scheduling/quick-sale/{saleId}/product-lines/entity/{entityId}:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Product line added to QS sale
        '400':
          description: Invalid input or sale is appointment-derived
        '404':
          description: Sale, product, or variant not found
        '409':
          description: Sale is settled or product archived
      security:
      - bearer: []
      summary: Add a PRODUCT line to an OPEN Quick Sale
      tags:
      - Scheduling Quick Sale
  /scheduling/quick-sale/product-lines/{lineId}/entity/{entityId}:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: QS product line updated
        '400':
          description: Invalid input or sale is appointment-derived
        '404':
          description: Product line or sale not found
        '409':
          description: Sale is settled
      security:
      - bearer: []
      summary: Update a QS product line
      tags:
      - Scheduling Quick Sale
    delete:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: QS product line removed
        '400':
          description: Sale is appointment-derived
        '404':
          description: Product line or sale not found
        '409':
          description: Sale is settled
      security:
      - bearer: []
      summary: Remove a PRODUCT line from a QS sale
      tags:
      - Scheduling Quick Sale
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
