openapi: 3.2.0
info:
  title: Zoca Tasks HubSpot Health Score Sync API
  description: 'The Zoca tasks/automation service: AI content queue and planning, FrontDesk (Retell/Twilio) voice + SMS agent onboarding, local-SEO grid scans, WIN conversion triggers, and inbound integration webhooks (Chargebee, Square, Pipedrive, Twilio, Retell, CallHippo, Sybill, Instantly).'
  version: 3.20.9
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://tasks.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-tasks-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://tasks.zoca.ai
  description: Production
security:
- access-token: []
tags:
- name: HubSpot Health Score Sync
paths:
  /tasks/api/v1/hubspot-health-score-sync/trigger:
    post:
      description: Manually trigger health score sync from cx.health_score to HubSpot locations. Returns immediately while processing continues in background. Syncs health_tier, health_tier_reason_names, and health_tier_reason_details to all matching locations.
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: HubSpot health score sync trigger initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: HubSpot health score sync triggered successfully
      summary: Trigger HubSpot Health Score Sync Manually
      tags:
      - HubSpot Health Score Sync
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
