openapi: 3.2.0
info:
  title: Zoca Tasks Scraping API
  description: 'The Zoca tasks/automation service: AI content queue and planning, FrontDesk (Retell/Twilio) voice + SMS agent onboarding, local-SEO grid scans, WIN conversion triggers, and inbound integration webhooks (Chargebee, Square, Pipedrive, Twilio, Retell, CallHippo, Sybill, Instantly).'
  version: 3.20.9
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://tasks.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-tasks-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://tasks.zoca.ai
  description: Production
security:
- access-token: []
tags:
- name: Scraping
paths:
  /tasks/api/v1/scrape:
    post:
      description: Creates a new scraping job for a single URL
      operationId: t_value
      parameters: []
      requestBody:
        required: true
        description: Scraping request parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e'
      responses:
        '201':
          description: Scrape job created successfully
      summary: Enqueue scrape job
      tags:
      - Scraping
  /tasks/api/v1/scrape/depth:
    post:
      description: Creates a new deep scraping job that follows links to a specified depth
      operationId: t_value
      parameters: []
      requestBody:
        required: true
        description: Scraping request parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e'
      responses:
        '201':
          description: Depth scrape job created successfully
      summary: Enqueue depth scrape job
      tags:
      - Scraping
  /tasks/api/v1/scrape/scheduled:
    post:
      description: Creates a new scraping job scheduled for a specific date/time
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Scheduled scrape job created successfully
      summary: Schedule a scrape job
      tags:
      - Scraping
  /tasks/api/v1/scrape/depth/scheduled:
    post:
      description: Creates a new depth scraping job scheduled for a specific date/time
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Scheduled depth scrape job created successfully
      summary: Schedule a depth scrape job
      tags:
      - Scraping
  /tasks/api/v1/scrape/repeatable:
    post:
      description: Creates a new scraping job that runs on a schedule
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Repeatable scrape job created successfully
      summary: Create a repeatable scrape job
      tags:
      - Scraping
  /tasks/api/v1/scrape/depth/repeatable:
    post:
      description: Creates a new depth scraping job that runs on a schedule
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Repeatable depth scrape job created successfully
      summary: Create a repeatable depth scrape job
      tags:
      - Scraping
components:
  schemas:
    e:
      type: object
      properties:
        scan:
          $ref: '#/components/schemas/e'
        businessLat:
          type:
          - number
          - 'null'
        businessLng:
          type:
          - number
          - 'null'
        points:
          type: array
          items:
            $ref: '#/components/schemas/e'
        heroMetrics:
          $ref: '#/components/schemas/e'
      required:
      - scan
      - businessLat
      - businessLng
      - points
      - heroMetrics
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
