openapi: 3.2.0
info:
  title: Zoca Platform Scheduling Admin API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Scheduling Admin
paths:
  /scheduling/admin/delete-test-account:
    post:
      description: Deletes all scheduling-related data for a test account. This includes bookings, payments, sales, carts, policies, and more. Only works for accounts where isTest=true. All operations are performed in a single transaction for atomicity.
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Test account data deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  deletedCounts:
                    type: object
                    properties:
                      bookingNotes:
                        type: number
                        example: 5
                      refunds:
                        type: number
                        example: 2
                      payments:
                        type: number
                        example: 10
                      sales:
                        type: number
                        example: 8
                      bookings:
                        type: number
                        example: 8
                      carts:
                        type: number
                        example: 3
                      blockedSlots:
                        type: number
                        example: 15
                      breaks:
                        type: number
                        example: 4
                      onboarding:
                        type: number
                        example: 1
                      bookingRulesMappings:
                        type: number
                        example: 6
                      bookingRules:
                        type: number
                        example: 3
                      policyMappings:
                        type: number
                        example: 4
                      feePolicies:
                        type: number
                        example: 2
                      paymentPolicies:
                        type: number
                        example: 2
                      bookingPolicies:
                        type: number
                        example: 2
                      entityCommsTemplates:
                        type: number
                        example: 12
                      productEntities:
                        type: number
                        example: 1
                      clientsStripeCleared:
                        type: number
                        example: 25
                  stripeConnectedAccountCleared:
                    type: boolean
                    example: true
        '400':
          description: Cannot delete non-test accounts or validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    example: 400
                  message:
                    type: string
                    example: Cannot delete non-test accounts
                  error:
                    type: string
                    example: Bad Request
      summary: Delete all scheduling data for a test account
      tags:
      - Scheduling Admin
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
