openapi: 3.2.0
info:
  title: Zoca Platform Booking Enquiries API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: booking-enquiries
paths:
  /booking-enquiries:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a new booking enquiry
      tags:
      - booking-enquiries
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: List all booking enquiries with pagination and filters
      tags:
      - booking-enquiries
  /booking-enquiries/sources:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: List distinct enquiry sources for an entity (source filter options)
      tags:
      - booking-enquiries
  /booking-enquiries/enquiry-status:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get enquiry status statistics for an entity
      tags:
      - booking-enquiries
  /booking-enquiries/{entityId}/search:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Search clients by name, number, or query
      tags:
      - booking-enquiries
  /booking-enquiries/enquiry-stats:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get detailed enquiry statistics for an entity
      tags:
      - booking-enquiries
  /booking-enquiries/multilocation/{businessEntityId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      summary: List enquiries across all locations of a business with network stats
      tags:
      - booking-enquiries
  /booking-enquiries/{enquiryId}/enquiry:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get enquiry details by ID
      tags:
      - booking-enquiries
  /booking-enquiries/{enquiryId}/status:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update enquiry status with reason and services
      tags:
      - booking-enquiries
  /booking-enquiries/{clientId}/notes:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Add a note to a client
      tags:
      - booking-enquiries
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get all notes for a client
      tags:
      - booking-enquiries
  /booking-enquiries/client/{clientId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get client details with latest enquiry information
      tags:
      - booking-enquiries
  /booking-enquiries/{clientId}/enquiries:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get all enquiries for a client with status filter
      tags:
      - booking-enquiries
  /booking-enquiries/notes/{noteId}:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update an existing client note
      tags:
      - booking-enquiries
    delete:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Delete a client note
      tags:
      - booking-enquiries
  /booking-enquiries/{enquiryId}/delete:
    delete:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Delete an enquiry
      tags:
      - booking-enquiries
  /booking-enquiries/{clientId}/communication-logs:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Add communication log for a client
      tags:
      - booking-enquiries
  /booking-enquiries/client-conversation:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Add a conversation message for a client
      tags:
      - booking-enquiries
  /booking-enquiries/{clientId}/app/chat:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get chat data for mobile app
      tags:
      - booking-enquiries
  /booking-enquiries/{clientId}/summary:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get summary of client interactions
      tags:
      - booking-enquiries
  /booking-enquiries/{entityId}/text-templates:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a new text template
      tags:
      - booking-enquiries
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: List all text templates for an entity
      tags:
      - booking-enquiries
  /booking-enquiries/text-templates/{templateId}:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update an existing text template
      tags:
      - booking-enquiries
  /booking-enquiries/{entityId}/text-template-preferences:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update text template preferences
      tags:
      - booking-enquiries
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get text template preferences for an entity
      tags:
      - booking-enquiries
  /booking-enquiries/formatted-text-template:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Format text template with client data
      tags:
      - booking-enquiries
  /booking-enquiries/{enquiryId}/update-booking-enquiry:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update booking enquiry details
      tags:
      - booking-enquiries
  /booking-enquiries/{entityId}/automated-text-templates:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get default lead communication templates
      tags:
      - booking-enquiries
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Add default lead communication templates
      tags:
      - booking-enquiries
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update lead communication templates
      tags:
      - booking-enquiries
  /booking-enquiries/{locationEntityId}/automated-text-templates/variables:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get lead communication template variable values
      tags:
      - booking-enquiries
  /booking-enquiries/automated-text-templates/variables:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get available automated communication variables
      tags:
      - booking-enquiries
  /booking-enquiries/{entityId}/automated-text-templates/preferences:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get automated communication template preferences
      tags:
      - booking-enquiries
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update automated communication template preferences
      tags:
      - booking-enquiries
  /booking-enquiries/{entityId}/text-template-order:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get text template order for a client
      tags:
      - booking-enquiries
  /booking-enquiries/{enquiryId}/deposit:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Add deposit to an enquiry
      tags:
      - booking-enquiries
  /booking-enquiries/conversation-summary:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update client conversation summary
      tags:
      - booking-enquiries
  /booking-enquiries/conversation-activity:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get conversation activity details for a client or enquiry
      tags:
      - booking-enquiries
  /booking-enquiries/client-conversations:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Returns paginated list of client conversations
      summary: Get client conversations including SMS and calls
      tags:
      - booking-enquiries
  /booking-enquiries/{entityId}/l2b-app-active-status:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: L2B app active status updated successfully
      summary: Update L2B app active status for an entity on Zoca App
      tags:
      - booking-enquiries
  /booking-enquiries/leads-tracker-stats:
    get:
      description: "Retrieves comprehensive leads/enquiries statistics with time-series buckets:\n    - Returns time-bucketed metrics for leads count and revenue\n    - Automatic granularity: Weekly for < 1 year periods, Monthly for >= 1 year\n    - Includes year-over-year growth percentages for comparison\n    - Provides total aggregates, currency info, and entity onboarding date\n    - Date range defaults to last 90 days if not specified"
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Returns leads tracker statistics with time-series data
        '400':
          description: Invalid parameters provided
        '404':
          description: Entity not found
      summary: Get leads tracker statistics with weekly and monthly granularity
      tags:
      - booking-enquiries
components:
  schemas:
    e:
      type: object
      properties:
        id:
          type: number
        entityId:
          type: string
        attribute:
          type: string
        value:
          type:
          - object
          - 'null'
        metadata:
          type:
          - object
          - 'null'
        createdAt:
          type:
          - object
          - 'null'
      required:
      - id
      - entityId
      - attribute
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
