openapi: 3.2.0
info:
  title: Zoca Public Contract Payment API
  description: 'Zoca''s unauthenticated public surface backing the free self-serve lead-magnet tools: Local Business Demand Tracker keyword/demand analysis, Google Business Profile competitor analysis, website strategy grading, pricing benchmarks, and short-link/app-link redirects.'
  version: 3.20.9
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://public.zoca.com/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-public-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://public.zoca.com
  description: Production
tags:
- name: contract-payment
paths:
  /contract/pay/{contractId}:
    get:
      description: Generates and redirects to a dynamic hosted page for contract payment based on the contract ID provided.
      operationId: t_value
      parameters: []
      responses:
        '302':
          description: Redirects to the generated hosted page URL.
        '500':
          description: Internal server error while generating hosted page.
      summary: Retrieve Contract Payment Hosted Page
      tags:
      - contract-payment
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
