openapi: 3.2.0
info:
  title: Zoca Moengage API
  contact: {}
  x-refined-note:
  - x-apievangelist-note differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Moengage across 2 of this provider''s published API definitions: zoca-platform-openapi.yml, zoca-tasks-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.zoca.ai
  description: Production
- url: https://tasks.zoca.ai
  description: Production
tags:
- name: Moengage
paths:
  /moengage/createEvent:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a Moengage event
      tags:
      - Moengage
    servers:
    - url: https://api.zoca.ai
      description: Production
  /tasks/api/v1/moengage/webhook:
    post:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: Webhook processed successfully
        '400':
          description: Invalid webhook payload
      summary: Handle MoEngage webhook events
      tags:
      - Moengage
      security:
      - access-token: []
    servers:
    - url: https://tasks.zoca.ai
      description: Production
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
x-refined-from:
- zoca-platform-openapi.yml
- zoca-tasks-openapi.yml
