openapi: 3.2.0
info:
  title: Zoca Platform Features API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Features
paths:
  /features:
    get:
      operationId: t_value
      parameters:
      - name: businessEntityId
        required: true
        in: query
        description: The business entity id
        schema:
          type: string
      - name: locationEntityId
        required: true
        in: query
        description: The location entity id
        schema:
          type: string
      - name: userEntityId
        required: true
        in: query
        description: The user entity id
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Get all available features for an entity based on active products
      tags:
      - Features
  /features/insights-tabs:
    get:
      operationId: t_value
      parameters:
      - name: businessEntityId
        required: true
        in: query
        description: The business entity id
        schema:
          type: string
      - name: locationEntityId
        required: true
        in: query
        description: The location entity id
        schema:
          type: string
      - name: userEntityId
        required: true
        in: query
        description: The user entity id
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Get Insights tabs with URLs based on active products
      tags:
      - Features
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
