openapi: 3.2.0
info:
  title: Zoca T API
  contact: {}
  x-refined-note:
  - x-apievangelist-note differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged t across 2 of this provider''s published API definitions: zoca-platform-openapi.yml, zoca-tasks-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.zoca.ai
  description: Production
- url: https://tasks.zoca.ai
  description: Production
tags:
- name: t
paths:
  /brain/memories:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/memories/{sourceId}/retry:
    post:
      operationId: postBrainMemoriesBySourceIdRetry
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/memories/{id}:
    get:
      operationId: getBrainMemoriesById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    patch:
      operationId: patchBrainMemoriesById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    delete:
      operationId: deleteBrainMemoriesById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/memories/{id}/question:
    get:
      operationId: getBrainMemoriesByIdQuestion
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/memories/{id}/history:
    get:
      operationId: getBrainMemoriesByIdHistory
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/memories/reembed:
    post:
      operationId: postBrainMemoriesReembed
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/documents/upload-url:
    post:
      operationId: postBrainDocumentsUploadUrl
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/documents:
    post:
      operationId: postBrainDocuments
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/documents/{docId}:
    get:
      operationId: getBrainDocumentsByDocId
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/snapshot:
    get:
      operationId: getBrainSnapshot
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/topics:
    get:
      operationId: getBrainTopics
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/topics/subtopic-overrides:
    post:
      operationId: postBrainTopicsSubtopicOverrides
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/services/completeness/overview:
    get:
      operationId: getBrainServicesCompletenessOverview
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/services/completeness/by-service:
    get:
      operationId: getBrainServicesCompletenessByService
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/services/rubric:
    get:
      operationId: getBrainServicesRubric
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    patch:
      operationId: patchBrainServicesRubric
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/overview:
    get:
      operationId: getBrainOverview
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/onboarding-state:
    get:
      operationId: getBrainOnboardingState
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    patch:
      operationId: patchBrainOnboardingState
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/onboarding/training-questions:
    get:
      operationId: getBrainOnboardingTrainingQuestions
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/onboarding/training-answers:
    post:
      operationId: postBrainOnboardingTrainingAnswers
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/onboarding/training-answers/sync:
    post:
      operationId: postBrainOnboardingTrainingAnswersSync
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/attribution/by-ref:
    get:
      operationId: getBrainAttributionByRef
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    post:
      operationId: postBrainAttributionByRef
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/attribution/clients-with-memory:
    get:
      operationId: getBrainAttributionClientsWithMemory
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/seed:
    post:
      operationId: postBrainSeed
      parameters: []
      responses:
        '202':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/seed/status:
    get:
      operationId: getBrainSeedStatus
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/seed/preview:
    get:
      operationId: getBrainSeedPreview
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/conflicts:
    get:
      operationId: getBrainConflicts
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/conflicts/{id}/resolve:
    post:
      operationId: postBrainConflictsByIdResolve
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/sessions/topic-candidates:
    get:
      operationId: getBrainSessionsTopicCandidates
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/sessions:
    post:
      operationId: postBrainSessions
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/sessions/{id}:
    get:
      operationId: getBrainSessionsById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/sessions/{id}/turns:
    post:
      operationId: postBrainSessionsByIdTurns
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/sessions/{id}/end:
    post:
      operationId: postBrainSessionsByIdEnd
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/sessions/{id}/memories:
    get:
      operationId: getBrainSessionsByIdMemories
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/sessions/{id}/memory-chips:
    get:
      operationId: getBrainSessionsByIdMemoryChips
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/context/search:
    post:
      operationId: postBrainContextSearch
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/questions:
    get:
      operationId: getBrainQuestions
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    post:
      operationId: postBrainQuestions
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/questions/next-pending:
    get:
      operationId: getBrainQuestionsNextPending
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/questions/ai-compose-suggestions:
    get:
      operationId: getBrainQuestionsAiComposeSuggestions
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/questions/ai-generate:
    post:
      operationId: postBrainQuestionsAiGenerate
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/questions/{id}:
    patch:
      operationId: patchBrainQuestionsById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/questions/{id}/memory:
    get:
      operationId: getBrainQuestionsByIdMemory
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/questions/{id}/answer:
    post:
      operationId: postBrainQuestionsByIdAnswer
      parameters: []
      responses:
        '202':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/questions/{id}/archive:
    post:
      operationId: postBrainQuestionsByIdArchive
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/questions/{id}/pause:
    post:
      operationId: postBrainQuestionsByIdPause
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/questions/{id}/restore:
    post:
      operationId: postBrainQuestionsByIdRestore
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/candidates:
    get:
      operationId: getBrainCandidates
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/candidates/{id}/confirm:
    post:
      operationId: postBrainCandidatesByIdConfirm
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/candidates/{id}/refine:
    post:
      operationId: postBrainCandidatesByIdRefine
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/candidates/{id}:
    patch:
      operationId: patchBrainCandidatesById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/candidates/{id}/reject:
    post:
      operationId: postBrainCandidatesByIdReject
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/candidates/{id}/resolve-canonical-conflict:
    post:
      operationId: postBrainCandidatesByIdResolveCanonicalConflict
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/candidates/{id}/resolve-semantic-conflict:
    post:
      operationId: postBrainCandidatesByIdResolveSemanticConflict
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/candidates/{id}/resolve-archive-collision:
    post:
      operationId: postBrainCandidatesByIdResolveArchiveCollision
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/candidates/inline-save:
    post:
      operationId: postBrainCandidatesInlineSave
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/preview/answer:
    post:
      operationId: postBrainPreviewAnswer
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/memories/{memoryId}/revisions:
    get:
      operationId: getBrainMemoriesByMemoryIdRevisions
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/memories/{memoryId}/revisions/{revisionId}/restore:
    post:
      operationId: postBrainMemoriesByMemoryIdRevisionsByRevisionIdRestore
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /brain/agent-callback/propose-memory:
    post:
      operationId: postBrainAgentCallbackProposeMemory
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://api.zoca.ai
      description: Production
  /tasks/api/v1/employees/sdr/attendance:
    get:
      operationId: getTasksApiV1EmployeesSdrAttendance
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/employees/sdr/attendance/bulk:
    put:
      operationId: putTasksApiV1EmployeesSdrAttendanceBulk
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/employees/sdr/{entityId}/attendance:
    put:
      operationId: putTasksApiV1EmployeesSdrByEntityIdAttendance
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/employees/sdr/roster:
    get:
      operationId: getTasksApiV1EmployeesSdrRoster
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/employees/sdr/{entityId}/segments:
    put:
      operationId: putTasksApiV1EmployeesSdrByEntityIdSegments
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/employees/sdr/{entityId}/capacity:
    put:
      operationId: putTasksApiV1EmployeesSdrByEntityIdCapacity
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/employees/sdr/segments:
    get:
      operationId: getTasksApiV1EmployeesSdrSegments
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    post:
      operationId: postTasksApiV1EmployeesSdrSegments
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/pillars:
    get:
      operationId: getTasksApiV1LearningCenterPillars
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/pillars/{id}:
    get:
      operationId: getTasksApiV1LearningCenterPillarsById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/modules:
    get:
      operationId: getTasksApiV1LearningCenterModules
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/modules/{id}:
    get:
      operationId: getTasksApiV1LearningCenterModulesById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/modules/{moduleId}/lessons:
    get:
      operationId: getTasksApiV1LearningCenterModulesByModuleIdLessons
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/lessons/{id}:
    get:
      operationId: getTasksApiV1LearningCenterLessonsById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/pillars:
    post:
      operationId: postTasksApiV1LearningCenterAdminPillars
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/pillars/{id}:
    put:
      operationId: putTasksApiV1LearningCenterAdminPillarsById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    delete:
      operationId: deleteTasksApiV1LearningCenterAdminPillarsById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/modules:
    post:
      operationId: postTasksApiV1LearningCenterAdminModules
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/modules/{id}:
    put:
      operationId: putTasksApiV1LearningCenterAdminModulesById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    delete:
      operationId: deleteTasksApiV1LearningCenterAdminModulesById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/lessons:
    post:
      operationId: postTasksApiV1LearningCenterAdminLessons
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/lessons/{id}:
    put:
      operationId: putTasksApiV1LearningCenterAdminLessonsById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    delete:
      operationId: deleteTasksApiV1LearningCenterAdminLessonsById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/assessments:
    get:
      operationId: getTasksApiV1LearningCenterAssessments
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/assessments/{id}:
    get:
      operationId: getTasksApiV1LearningCenterAssessmentsById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/assessments/{id}/with-status:
    get:
      operationId: getTasksApiV1LearningCenterAssessmentsByIdWithStatus
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/assessments/{id}/questions:
    get:
      operationId: getTasksApiV1LearningCenterAssessmentsByIdQuestions
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/assessments:
    post:
      operationId: postTasksApiV1LearningCenterAdminAssessments
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/assessments/{id}:
    put:
      operationId: putTasksApiV1LearningCenterAdminAssessmentsById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    delete:
      operationId: deleteTasksApiV1LearningCenterAdminAssessmentsById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/assessments/{id}/questions/mcq:
    post:
      operationId: postTasksApiV1LearningCenterAdminAssessmentsByIdQuestionsMcq
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/assessments/{id}/questions/subjective:
    post:
      operationId: postTasksApiV1LearningCenterAdminAssessmentsByIdQuestionsSubjective
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/assessments/questions/mcq/{questionId}:
    put:
      operationId: putTasksApiV1LearningCenterAdminAssessmentsQuestionsMcqByQuestionId
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/assessments/questions/subjective/{questionId}:
    put:
      operationId: putTasksApiV1LearningCenterAdminAssessmentsQuestionsSubjectiveByQuestionId
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/assessments/questions/{questionId}:
    delete:
      operationId: deleteTasksApiV1LearningCenterAdminAssessmentsQuestionsByQuestionId
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/assignments:
    post:
      operationId: postTasksApiV1LearningCenterAdminAssignments
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    delete:
      operationId: deleteTasksApiV1LearningCenterAdminAssignments
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    get:
      operationId: getTasksApiV1LearningCenterAdminAssignments
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/assignments/bulk:
    post:
      operationId: postTasksApiV1LearningCenterAdminAssignmentsBulk
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    delete:
      operationId: deleteTasksApiV1LearningCenterAdminAssignmentsBulk
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/answers/needs-review:
    get:
      operationId: getTasksApiV1LearningCenterAdminAnswersNeedsReview
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/answers/{id}/override:
    post:
      operationId: postTasksApiV1LearningCenterAdminAnswersByIdOverride
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/answers/{id}/calibrate:
    post:
      operationId: postTasksApiV1LearningCenterAdminAnswersByIdCalibrate
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/admin/attempts/unlock:
    post:
      operationId: postTasksApiV1LearningCenterAdminAttemptsUnlock
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/me:
    get:
      operationId: getTasksApiV1LearningCenterMe
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/me/dashboard:
    get:
      operationId: getTasksApiV1LearningCenterMeDashboard
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/users/{userId}/lessons/{id}:
    get:
      operationId: getTasksApiV1LearningCenterUsersByUserIdLessonsById
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/users/{userId}/modules/{moduleId}/lessons:
    get:
      operationId: getTasksApiV1LearningCenterUsersByUserIdModulesByModuleIdLessons
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/lessons/{id}/start:
    post:
      operationId: postTasksApiV1LearningCenterLessonsByIdStart
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
  /tasks/api/v1/learning-center/lessons/{id}/complete:
    post:
      operationId: postTasksApiV1LearningCenterLessonsByIdComplete
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - t
      security:
      - access-token: []
      summary: T value
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    servers:
    - url: https://tasks.zoca.ai
      description: Production
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
x-refined-from:
- zoca-platform-openapi.yml
- zoca-tasks-openapi.yml
