openapi: 3.2.0
info:
  title: Zoca Platform Scheduling Carts API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Scheduling Carts
paths:
  /scheduling/carts:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      security:
      - bearer: []
      summary: Create a new cart or return existing active cart
      tags:
      - Scheduling Carts
  /scheduling/carts/items:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      security:
      - bearer: []
      summary: Add items to cart
      tags:
      - Scheduling Carts
  /scheduling/carts/{cartId}/items/{itemId}:
    delete:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: Remove item from cart
      tags:
      - Scheduling Carts
  /scheduling/carts/client/{clientId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: Get active cart by client ID
      tags:
      - Scheduling Carts
  /scheduling/carts/{cartId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: Get cart details with current service prices
      tags:
      - Scheduling Carts
    patch:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: Update cart properties
      tags:
      - Scheduling Carts
    delete:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: Mark cart as inactive (soft delete)
      tags:
      - Scheduling Carts
  /scheduling/carts/{cartId}/amount:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: Get cart amount (calculated from current prices)
      tags:
      - Scheduling Carts
  /scheduling/carts/clear/{cartId}:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      security:
      - bearer: []
      summary: Clear all items from cart
      tags:
      - Scheduling Carts
  /scheduling/carts/get-or-create:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      security:
      - bearer: []
      summary: Get or create active cart for client/session
      tags:
      - Scheduling Carts
  /scheduling/carts/{cartId}/offers/{offerId}:
    delete:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: Remove an auto-applied offer from cart
      tags:
      - Scheduling Carts
  /scheduling/carts/{cartId}/offers:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      summary: Select a specific offer combination for cart
      tags:
      - Scheduling Carts
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
