openapi: 3.2.0
info:
  title: Zoca Platform UI Components API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: UI Components
paths:
  /ui-components:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get UI component by ID or get all components
      tags:
      - UI Components
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a new UI component
      tags:
      - UI Components
  /ui-components/{id}:
    patch:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update a UI component by ID
      tags:
      - UI Components
  /ui-components/test-lambda:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Test the Babel compiler Lambda
      tags:
      - UI Components
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
