openapi: 3.2.0
info:
  title: Zoca Tasks E API
  description: 'The Zoca tasks/automation service: AI content queue and planning, FrontDesk (Retell/Twilio) voice + SMS agent onboarding, local-SEO grid scans, WIN conversion triggers, and inbound integration webhooks (Chargebee, Square, Pipedrive, Twilio, Retell, CallHippo, Sybill, Instantly).'
  version: 3.20.9
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://tasks.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-tasks-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://tasks.zoca.ai
  description: Production
security:
- access-token: []
tags:
- name: e
paths:
  /tasks/api/v1/learning-center/attempts/start:
    post:
      operationId: e_value
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - e
  /tasks/api/v1/learning-center/attempts/{id}:
    get:
      operationId: e_value
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - e
  /tasks/api/v1/learning-center/attempts/{id}/answers:
    put:
      operationId: e_value
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - e
  /tasks/api/v1/learning-center/attempts/{id}/submit:
    post:
      operationId: e_value
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - e
  /tasks/api/v1/learning-center/users/{userId}/attempts:
    get:
      operationId: e_value
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - e
  /tasks/api/v1/learning-center/certifications:
    get:
      operationId: e_value
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - e
  /tasks/api/v1/learning-center/users/{userId}/certifications:
    get:
      operationId: e_value
      parameters: []
      responses:
        '200':
          description: ''
      tags:
      - e
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
