openapi: 3.2.0
info:
  title: Zoca Platform Business Profile API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: business-profile
paths:
  /business-profile:
    get:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Sucessfully onboarded the location for given entity id
      summary: Get business profile information by entity Id
      tags:
      - business-profile
  /business-profile/address-auto-complete:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get address auto-complete suggestions
      tags:
      - business-profile
  /business-profile/domain-suggestion:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get domain suggestions
      tags:
      - business-profile
  /business-profile/primary-category-suggestion:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get primary category suggestions
      tags:
      - business-profile
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get primary category suggestions (v2)
      tags:
      - business-profile
  /business-profile/additional-category-suggestion:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get additional category suggestions
      tags:
      - business-profile
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get additional category suggestions (v2)
      tags:
      - business-profile
  /business-profile/booking-platforms:
    get:
      description: Retrieves a list of all active booking platforms including Vagaro, GlossGenius, StyleSeat, and Booksy.
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: List of booking platforms retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/e'
      summary: Get all booking platforms
      tags:
      - business-profile
  /business-profile/social-platforms:
    get:
      description: Retrieves a list of all active social media platforms including Facebook, Instagram, LinkedIn, TikTok, Twitter, YouTube, and Pinterest.
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: List of social media platforms retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/e'
      summary: Get all social media platforms
      tags:
      - business-profile
  /business-profile/{entityId}/booking-link:
    put:
      description: Updates the booking link for a specified platform, deactivating any existing active link for that platform.
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: path
        description: Entity ID of the user/business
        schema:
          format: uuid
          type: string
      requestBody:
        required: true
        description: Service creation data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e'
      responses:
        '200':
          description: Booking link updated successfully
      summary: Update booking link for a platform
      tags:
      - business-profile
    get:
      description: Updates the booking link for a specified platform, deactivating any existing active link for that platform.
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: path
        description: Entity ID of the user/business
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: Booking link updated successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/e'
      summary: Update booking link for a platform
      tags:
      - business-profile
  /business-profile/{entityId}/links:
    get:
      description: Retrieves all links (both active and inactive) associated with the specified entity.
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: path
        description: ID of the entity
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: List of links retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/e'
      summary: Get all links for an entity
      tags:
      - business-profile
  /business-profile/ai-description:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Generate AI-based business description
      tags:
      - business-profile
  /business-profile/update-profile-data:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update business profile data
      tags:
      - business-profile
  /business-profile/update-profile-data-ops:
    put:
      deprecated: true
      description: 'Deprecated: will be removed in a future release.'
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update business profile data (ops)
      tags:
      - business-profile
  /business-profile/website-domain/{entityId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get website domain data
      tags:
      - business-profile
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update website domain data
      tags:
      - business-profile
  /business-profile/website-domain-quotation/{entityId}:
    put:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get domain quotation
      tags:
      - business-profile
components:
  schemas:
    e:
      type: object
      properties:
        id:
          type: number
        entityId:
          type: string
        attribute:
          type: string
        value:
          type:
          - object
          - 'null'
        metadata:
          type:
          - object
          - 'null'
        createdAt:
          type:
          - object
          - 'null'
      required:
      - id
      - entityId
      - attribute
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
