openapi: 3.2.0
info:
  title: Zoca Tasks Instantly Webhook API
  description: 'The Zoca tasks/automation service: AI content queue and planning, FrontDesk (Retell/Twilio) voice + SMS agent onboarding, local-SEO grid scans, WIN conversion triggers, and inbound integration webhooks (Chargebee, Square, Pipedrive, Twilio, Retell, CallHippo, Sybill, Instantly).'
  version: 3.20.9
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://tasks.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-tasks-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://tasks.zoca.ai
  description: Production
security:
- access-token: []
tags:
- name: Instantly Webhook
paths:
  /tasks/api/v1/instantly/webhook:
    post:
      description: Processes incoming Instantly webhook data and queues it for handling
      operationId: t_value
      parameters: []
      requestBody:
        required: true
        description: Instantly webhook payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        '201':
          description: Instantly webhook processed successfully
      security:
      - {}
      summary: Process Instantly webhook
      tags:
      - Instantly Webhook
  /tasks/api/v1/instantly/sdr/score-decay:
    post:
      description: Dispatches the sdr:score-decay job to apply time-based decay to all lead scores
      operationId: t_value
      parameters: []
      responses:
        '202':
          description: Score decay job enqueued
      summary: Trigger SDR score decay
      tags:
      - Instantly Webhook
  /tasks/api/v1/instantly/sdr/sod-flush:
    post:
      description: Dispatches the sdr:sod-flush job to assign warm unassigned leads to SDRs and create HubSpot tasks
      operationId: t_value
      parameters: []
      responses:
        '202':
          description: SOD flush job enqueued
      summary: Trigger SOD warm lead flush
      tags:
      - Instantly Webhook
components:
  schemas:
    Object:
      type: object
      properties: {}
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
