openapi: 3.2.0
info:
  title: Zoca Platform Working Hours API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Working Hours
paths:
  /working-hours:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get working hours for an entity
      tags:
      - Working Hours
    post:
      operationId: postWorkingHours
      parameters: []
      responses:
        '200':
          description: ''
      summary: Set working hours for an entity
      tags:
      - Working Hours
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /working-hours/supported-languages:
    get:
      operationId: getWorkingHoursSupportedLanguages
      parameters: []
      responses:
        '200':
          description: List of supported languages
          content:
            application/json:
              schema:
                type: object
                properties:
                  supportedLanguages:
                    type: array
                    items:
                      type: string
                    example:
                    - en
                    - es
                    - fr
                    - de
                    - it
                    - pt
      summary: Get list of supported languages for localization
      tags:
      - Working Hours
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /working-hours/{id}:
    patch:
      operationId: patchWorkingHoursById
      parameters: []
      responses:
        '200':
          description: ''
      summary: Modify a specific working hour
      tags:
      - Working Hours
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    delete:
      operationId: deleteWorkingHoursById
      parameters: []
      responses:
        '200':
          description: ''
      summary: Remove a specific working hour
      tags:
      - Working Hours
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /working-hours/reorder:
    patch:
      operationId: patchWorkingHoursReorder
      parameters: []
      responses:
        '200':
          description: Working hours successfully reordered.
        '400':
          description: Invalid input data or mismatch in hours.
        '404':
          description: Entity not found (implicit).
      summary: Reorder standard working hours for an entity
      tags:
      - Working Hours
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /working-hours/{id}/attributes:
    patch:
      operationId: patchWorkingHoursByIdAttributes
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update attributes for a working hour
      tags:
      - Working Hours
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /working-hours/{id}/attributes/{key}:
    delete:
      operationId: deleteWorkingHoursByIdAttributesByKey
      parameters: []
      responses:
        '200':
          description: ''
      summary: Delete a specific attribute key from a working hour
      tags:
      - Working Hours
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /working-hours/special-hours:
    get:
      operationId: getWorkingHoursSpecialHours
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get special hours for an entity
      tags:
      - Working Hours
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    post:
      operationId: postWorkingHoursSpecialHours
      parameters: []
      responses:
        '201':
          description: ''
      summary: Add a special hour for an entity
      tags:
      - Working Hours
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /working-hours/special-hours/week:
    get:
      operationId: getWorkingHoursSpecialHoursWeek
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get special hours for an entity within a date range (staff one-time-override…
      tags:
      - Working Hours
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /working-hours/special-hours/bulk:
    post:
      operationId: postWorkingHoursSpecialHoursBulk
      parameters: []
      responses:
        '200':
          description: ''
      summary: Sync a week of per-date special-hour overrides for an entity (staff one-time…
      tags:
      - Working Hours
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /working-hours/special-hours/{id}:
    patch:
      operationId: patchWorkingHoursSpecialHoursById
      parameters: []
      responses:
        '200':
          description: ''
      summary: Modify a specific special hour
      tags:
      - Working Hours
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    delete:
      operationId: deleteWorkingHoursSpecialHoursById
      parameters: []
      responses:
        '200':
          description: ''
      summary: Remove a specific special hour
      tags:
      - Working Hours
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /working-hours/special-hours/{id}/attributes:
    patch:
      operationId: patchWorkingHoursSpecialHoursByIdAttributes
      parameters: []
      responses:
        '200':
          description: ''
      summary: Update attributes for a special hour
      tags:
      - Working Hours
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /working-hours/special-hours/{id}/attributes/{key}:
    delete:
      operationId: deleteWorkingHoursSpecialHoursByIdAttributesByKey
      parameters: []
      responses:
        '200':
          description: ''
      summary: Delete a specific attribute key from a special hour
      tags:
      - Working Hours
      x-operation-id-source: normalized
      x-operation-id-original: t_value
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
