openapi: 3.2.0
info:
  title: Zoca Tasks Support Agent/kb API
  description: 'The Zoca tasks/automation service: AI content queue and planning, FrontDesk (Retell/Twilio) voice + SMS agent onboarding, local-SEO grid scans, WIN conversion triggers, and inbound integration webhooks (Chargebee, Square, Pipedrive, Twilio, Retell, CallHippo, Sybill, Instantly).'
  version: 3.20.9
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://tasks.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-tasks-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://tasks.zoca.ai
  description: Production
security:
- access-token: []
tags:
- name: support-agent/kb
paths:
  /tasks/api/v1/support-agent/kb/articles:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a new KB article
      tags:
      - support-agent/kb
    get:
      operationId: t_value
      parameters:
      - name: limit
        required: false
        in: query
        schema:
          type: number
      - name: page
        required: false
        in: query
        schema:
          type: number
      - name: search
        required: false
        in: query
        schema: {}
      - name: category
        required: false
        in: query
        schema: {}
      - name: status
        required: false
        in: query
        schema: {}
      responses:
        '200':
          description: ''
      summary: List KB articles with filters
      tags:
      - support-agent/kb
    delete:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Delete all KB articles (hard delete)
      tags:
      - support-agent/kb
  /tasks/api/v1/support-agent/kb/articles/{id}:
    get:
      operationId: t_value
      parameters:
      - name: id
        required: true
        in: path
        description: Article UUID
        schema: {}
      responses:
        '200':
          description: ''
      summary: Get a KB article by ID
      tags:
      - support-agent/kb
    put:
      operationId: t_value
      parameters:
      - name: id
        required: true
        in: path
        description: Article UUID
        schema: {}
      responses:
        '200':
          description: ''
      summary: Update a KB article
      tags:
      - support-agent/kb
    delete:
      operationId: t_value
      parameters:
      - name: id
        required: true
        in: path
        description: Article UUID
        schema: {}
      responses:
        '200':
          description: ''
      summary: Archive a KB article
      tags:
      - support-agent/kb
  /tasks/api/v1/support-agent/kb/articles/bulk:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Bulk upload KB articles
      tags:
      - support-agent/kb
  /tasks/api/v1/support-agent/kb/articles/{id}/status:
    get:
      operationId: t_value
      parameters:
      - name: id
        required: true
        in: path
        description: Article UUID
        schema: {}
      responses:
        '200':
          description: ''
      summary: Check KB article processing status
      tags:
      - support-agent/kb
  /tasks/api/v1/support-agent/kb/categories:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: List all KB categories
      tags:
      - support-agent/kb
  /tasks/api/v1/support-agent/kb/search:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Test KB search/retrieval (debug endpoint)
      tags:
      - support-agent/kb
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
