openapi: 3.2.0
info:
  title: Zoca Tasks Booking Search API
  description: 'The Zoca tasks/automation service: AI content queue and planning, FrontDesk (Retell/Twilio) voice + SMS agent onboarding, local-SEO grid scans, WIN conversion triggers, and inbound integration webhooks (Chargebee, Square, Pipedrive, Twilio, Retell, CallHippo, Sybill, Instantly).'
  version: 3.20.9
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://tasks.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-tasks-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://tasks.zoca.ai
  description: Production
security:
- access-token: []
tags:
- name: Booking Search
paths:
  /tasks/api/v1/booking-search/start:
    post:
      description: Initiates a background search for booking platforms associated with the business
      operationId: t_value
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e'
      responses:
        '201':
          description: Booking search job created successfully
      summary: Start Booking Platform Search
      tags:
      - Booking Search
  /tasks/api/v1/booking-search/status/{entityId}:
    get:
      description: Returns discovered booking platforms for the entity
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: path
        description: Entity ID
        schema:
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Search status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      summary: Get Booking Platform Search Status
      tags:
      - Booking Search
  /tasks/api/v1/booking-search/submit-link:
    post:
      description: Stores the selected or newly created booking link ID in win_onboarding_status
      operationId: t_value
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e'
      responses:
        '201':
          description: Booking link submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      summary: Submit Booking Link
      tags:
      - Booking Search
  /tasks/api/v1/booking-search/search:
    post:
      description: Performs a direct search for booking platforms using Firecrawl and saves results to entities.links
      operationId: t_value
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e'
      responses:
        '200':
          description: Search completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      summary: Direct Booking Platform Search
      tags:
      - Booking Search
  /tasks/api/v1/booking-search/queue-scraper:
    post:
      description: Manually queue a platform scraper job for a given link ID
      operationId: t_value
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e'
      responses:
        '201':
          description: Scraper job queued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      summary: Queue Platform Scraper
      tags:
      - Booking Search
components:
  schemas:
    e:
      type: object
      properties:
        scan:
          $ref: '#/components/schemas/e'
        businessLat:
          type:
          - number
          - 'null'
        businessLng:
          type:
          - number
          - 'null'
        points:
          type: array
          items:
            $ref: '#/components/schemas/e'
        heroMetrics:
          $ref: '#/components/schemas/e'
      required:
      - scan
      - businessLat
      - businessLng
      - points
      - heroMetrics
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
