openapi: 3.2.0
info:
  title: Zoca Tasks Sms Logs API
  description: 'The Zoca tasks/automation service: AI content queue and planning, FrontDesk (Retell/Twilio) voice + SMS agent onboarding, local-SEO grid scans, WIN conversion triggers, and inbound integration webhooks (Chargebee, Square, Pipedrive, Twilio, Retell, CallHippo, Sybill, Instantly).'
  version: 3.20.9
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://tasks.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-tasks-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://tasks.zoca.ai
  description: Production
security:
- access-token: []
tags:
- name: sms-logs
paths:
  /tasks/api/v1/sms-logs:
    get:
      operationId: t_value
      parameters:
      - name: sortOrder
        required: false
        in: query
        description: 'Sort order by date (default: desc)'
        schema:
          enum:
          - asc
          - desc
          type: string
      - name: limit
        required: false
        in: query
        description: 'Items per page (default: 20)'
        schema:
          type: number
      - name: page
        required: false
        in: query
        description: 'Page number (default: 1)'
        schema:
          type: number
      - name: dateTo
        required: false
        in: query
        description: Filter messages up to this date (ISO 8601, e.g., "2026-04-21")
        schema:
          type: string
      - name: dateFrom
        required: false
        in: query
        description: Filter messages from this date (ISO 8601, e.g., "2026-04-01")
        schema:
          type: string
      - name: direction
        required: false
        in: query
        description: Filter by message direction
        schema:
          enum:
          - inbound
          - outbound-api
          - outbound
          type: string
      - name: status
        required: false
        in: query
        description: Filter by SMS status
        schema:
          enum:
          - queued
          - sending
          - sent
          - delivered
          - undelivered
          - failed
          - received
          type: string
      - name: search
        required: false
        in: query
        description: Search message body (partial match, case-insensitive)
        schema:
          type: string
      - name: phoneNumber
        required: true
        in: query
        description: Phone number to search logs for
        schema:
          type: string
      - name: countryCode
        required: true
        in: query
        description: Country code (e.g., "+1")
        schema:
          type: string
      responses:
        '200':
          description: Paginated list of SMS logs for the phone number
      summary: Get SMS logs for a phone number
      tags:
      - sms-logs
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
