openapi: 3.2.0
info:
  title: Zoca Platform Meta API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: meta
paths:
  /meta/business-discovery:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get Instagram business discovery data
      tags:
      - meta
  /meta/media:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get all media for a specific Instagram business account
      tags:
      - meta
  /meta/connect-instagram:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Connect an Instagram business account to a location entity
      tags:
      - meta
  /meta/upload-media:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Upload selected media to specified destinations
      tags:
      - meta
  /meta/account-status:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Check if an Instagram business account is already connected to a location entity
      tags:
      - meta
  /meta/disconnect-instagram:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Disconnect an Instagram business account from a location entity
      tags:
      - meta
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
