openapi: 3.2.0
info:
  title: Zoca Platform Scheduling - Communication Templates API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Scheduling - Communication Templates
paths:
  /scheduling/comms-templates/global:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: List of templates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/e'
      summary: List all global communication templates
      tags:
      - Scheduling - Communication Templates
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Template created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      summary: Create a new global communication template
      tags:
      - Scheduling - Communication Templates
  /scheduling/comms-templates/global/{id}:
    get:
      operationId: t_value
      parameters:
      - name: id
        required: true
        in: path
        description: Template ID
        schema: {}
      responses:
        '200':
          description: Template found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '404':
          description: Template not found
      summary: Get a global template by ID
      tags:
      - Scheduling - Communication Templates
    put:
      operationId: t_value
      parameters:
      - name: id
        required: true
        in: path
        description: Template ID
        schema: {}
      responses:
        '200':
          description: Template updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '404':
          description: Template not found
      summary: Update a global template
      tags:
      - Scheduling - Communication Templates
    delete:
      operationId: t_value
      parameters:
      - name: id
        required: true
        in: path
        description: Template ID
        schema: {}
      responses:
        '204':
          description: Template deleted
        '404':
          description: Template not found
      summary: Delete a global template
      tags:
      - Scheduling - Communication Templates
  /scheduling/comms-templates/global/seed:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: Templates seeded
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/e'
      summary: Seed global templates with default values
      tags:
      - Scheduling - Communication Templates
  /scheduling/comms-templates/entity/{entityId}:
    get:
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: path
        description: Entity ID
        schema: {}
      responses:
        '200':
          description: List of templates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/e'
      summary: List all templates for an entity
      tags:
      - Scheduling - Communication Templates
    post:
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: path
        description: Entity ID
        schema: {}
      responses:
        '201':
          description: Template created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      summary: Create a new entity communication template
      tags:
      - Scheduling - Communication Templates
  /scheduling/comms-templates/entity/{entityId}/{id}:
    get:
      operationId: t_value
      parameters:
      - name: id
        required: true
        in: path
        description: Template ID
        schema: {}
      - name: entityId
        required: true
        in: path
        description: Entity ID
        schema: {}
      responses:
        '200':
          description: Template found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '404':
          description: Template not found
      summary: Get an entity template by ID
      tags:
      - Scheduling - Communication Templates
    put:
      operationId: t_value
      parameters:
      - name: id
        required: true
        in: path
        description: Template ID
        schema: {}
      - name: entityId
        required: true
        in: path
        description: Entity ID
        schema: {}
      responses:
        '200':
          description: Template updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '404':
          description: Template not found
      summary: Update an entity template
      tags:
      - Scheduling - Communication Templates
    delete:
      operationId: t_value
      parameters:
      - name: id
        required: true
        in: path
        description: Template ID
        schema: {}
      - name: entityId
        required: true
        in: path
        description: Entity ID
        schema: {}
      responses:
        '204':
          description: Template deleted
        '404':
          description: Template not found
      summary: Delete an entity template
      tags:
      - Scheduling - Communication Templates
  /scheduling/comms-templates/entity/{entityId}/seed:
    post:
      operationId: t_value
      parameters:
      - name: entityId
        required: true
        in: path
        description: Entity ID
        schema: {}
      responses:
        '201':
          description: Templates seeded
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/e'
      summary: Seed entity templates from global templates
      tags:
      - Scheduling - Communication Templates
  /scheduling/comms-templates/variables/verify:
    get:
      operationId: t_value
      parameters:
      - name: clientId
        required: true
        in: query
        description: Client ID
        schema: {}
      - name: locationEntityId
        required: true
        in: query
        description: Location Entity ID
        schema: {}
      responses:
        '200':
          description: Variable verification response
      summary: Verify template variables for a location and client
      tags:
      - Scheduling - Communication Templates
components:
  schemas:
    e:
      type: object
      properties:
        id:
          type: number
        entityId:
          type: string
        attribute:
          type: string
        value:
          type:
          - object
          - 'null'
        metadata:
          type:
          - object
          - 'null'
        createdAt:
          type:
          - object
          - 'null'
      required:
      - id
      - entityId
      - attribute
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
