openapi: 3.2.0
info:
  title: Zoca Platform Comms Inbox API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Comms Inbox
paths:
  /comms-inbox/multilocation/{businessEntityId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: List inbox conversations across managed business locations
      tags:
      - Comms Inbox
  /comms-inbox/multilocation/{businessEntityId}/location/{entityId}/client/{clientId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get a managed location conversation timeline
      tags:
      - Comms Inbox
  /comms-inbox/multilocation/{businessEntityId}/location/{entityId}/client/{clientId}/close:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Close a conversation at a managed business location
      tags:
      - Comms Inbox
  /comms-inbox/ops/entities:
    get:
      operationId: t_value
      parameters:
      - name: search
        required: false
        in: query
        schema:
          type: string
      - name: limit
        required: false
        in: query
        schema:
          type: number
      - name: page
        required: false
        in: query
        schema:
          type: number
      responses:
        '200':
          description: ''
      summary: Search active FrontDesk locations for operations
      tags:
      - Comms Inbox
  /comms-inbox/ops:
    get:
      operationId: t_value
      parameters:
      - name: entityId
        required: false
        in: query
        schema:
          format: uuid
      - name: limit
        required: false
        in: query
        schema:
          type: number
      - name: page
        required: false
        in: query
        schema:
          type: number
      responses:
        '200':
          description: ''
      summary: List conversations across active FrontDesk entities
      tags:
      - Comms Inbox
  /comms-inbox/entity/{entityId}:
    get:
      operationId: t_value
      parameters:
      - name: timeFilter
        required: false
        in: query
        schema:
          enum:
          - today
          - week
          - month
          - all
          type: string
      - name: stateFilter
        required: false
        in: query
        schema:
          type: string
      - name: humanHandover
        required: false
        in: query
        schema:
          type: boolean
      - name: search
        required: false
        in: query
        schema:
          type: string
      - name: group
        required: false
        in: query
        schema:
          enum:
          - NEEDS_ACTION
          - ACTIVE
          - CLOSED
          - SPAM
          - UNCLASSIFIED
          type: string
      - name: limit
        required: false
        in: query
        schema:
          type: number
      - name: page
        required: false
        in: query
        schema:
          type: number
      responses:
        '200':
          description: ''
      summary: List inbox conversations for an entity
      tags:
      - Comms Inbox
  /comms-inbox/entity/{entityId}/client/{clientId}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get the SMS + call timeline for one client
      tags:
      - Comms Inbox
  /comms-inbox/entity/{entityId}/unread-count:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get the durable unread Inbox SMS count for an entity
      tags:
      - Comms Inbox
  /comms-inbox/entity/{entityId}/client/{clientId}/read:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Mark an Inbox conversation read through a rendered inbound message
      tags:
      - Comms Inbox
  /comms-inbox/entity/{entityId}/client/{clientId}/close:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Manually close a conversation with a staff-set disposition
      tags:
      - Comms Inbox
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
