openapi: 3.2.0
info:
  title: Zoca Platform Homepage API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Homepage
paths:
  /homepage/activation-steps:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get activation steps status
      tags:
      - Homepage
  /homepage:
    get:
      operationId: getHomepage
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get homepage data
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/homepage-components:
    get:
      operationId: getHomepageHomepageComponents
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get homepage components
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/user-data:
    get:
      operationId: getHomepageUserData
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get user data
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/leads-data:
    get:
      operationId: getHomepageLeadsData
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get leads data
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/activation-steps-data:
    get:
      operationId: getHomepageActivationStepsData
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get activation steps data
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/performance-data:
    get:
      operationId: getHomepagePerformanceData
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get performance data
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/oauth-status:
    get:
      operationId: getHomepageOauthStatus
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get OAuth status
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/footer:
    get:
      operationId: getHomepageFooter
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get footer data
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/check-website-status:
    get:
      operationId: getHomepageCheckWebsiteStatus
      parameters: []
      responses:
        '200':
          description: ''
      summary: Check website status
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/fetch-page-views:
    get:
      operationId: getHomepageFetchPageViews
      parameters: []
      responses:
        '200':
          description: ''
      summary: Fetch page views
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/extend-trial:
    put:
      operationId: putHomepageExtendTrial
      parameters: []
      responses:
        '200':
          description: ''
      summary: Extend trial period
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/monthly-report:
    get:
      description: When listAll=true returns all active reports; otherwise returns the single report (by reportType or default PERFORMANCE_REPORT).
      operationId: getHomepageMonthlyReport
      parameters: []
      responses:
        '200':
          description: Monthly report(s) retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '404':
          description: No report found
      summary: Get monthly report(s) for an entity
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    post:
      operationId: postHomepageMonthlyReport
      parameters: []
      responses:
        '201':
          description: Monthly report created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
      summary: Create a new monthly report
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
    put:
      operationId: putHomepageMonthlyReport
      parameters: []
      responses:
        '200':
          description: Monthly report updated successfully
      summary: Update monthly report status
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/referrals/link/{businessEntityId}:
    get:
      operationId: getHomepageReferralsLinkByBusinessEntityId
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get referral link for business
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/referrals:
    post:
      operationId: postHomepageReferrals
      parameters: []
      responses:
        '201':
          description: ''
      summary: Create a referral
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/review-tracker:
    get:
      operationId: getHomepageReviewTracker
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get review tracker metrics
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/opening-date:
    put:
      operationId: putHomepageOpeningDate
      parameters: []
      responses:
        '200':
          description: Opening date updated successfully
        '400':
          description: Invalid request parameters
      summary: Update opening date for a GBP location
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/carousel-cards:
    get:
      operationId: getHomepageCarouselCards
      parameters: []
      responses:
        '200':
          description: Carousel cards data retrieved successfully
      summary: Get carousel cards for Win Agent onboarding
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/website-card-state:
    get:
      operationId: getHomepageWebsiteCardState
      parameters: []
      responses:
        '200':
          description: Card state retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/e'
        '400':
          description: Invalid entity ID
        '404':
          description: Entity not found
      summary: Get website card state for entity
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
  /homepage/discovery-metrics:
    get:
      operationId: getHomepageDiscoveryMetrics
      parameters: []
      responses:
        '200':
          description: ''
      summary: Get cumulative discovery metrics since onboarding
      tags:
      - Homepage
      x-operation-id-source: normalized
      x-operation-id-original: t_value
components:
  schemas:
    e:
      type: object
      properties:
        id:
          type: number
        entityId:
          type: string
        attribute:
          type: string
        value:
          type:
          - object
          - 'null'
        metadata:
          type:
          - object
          - 'null'
        createdAt:
          type:
          - object
          - 'null'
      required:
      - id
      - entityId
      - attribute
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
