openapi: 3.2.0
info:
  title: Zoca Platform Calendar Feed API
  description: 'The Zoca platform API behind the Zoca web app and mobile apps: scheduling, website generation, Google Business Profile, discovery/local SEO, social media, booking enquiries, offers, clients, staff, billing and the Zoca "brain" agent layer.'
  version: 3.20.10
  contact: {}
  x-apievangelist-note: Harvested verbatim from https://api.zoca.ai/swagger.json. The provider ships the default NestJS Swagger metadata (title "API Documentation", empty servers[]); title/description/servers were set by API Evangelist for identification and the unmodified original is preserved at openapi/_original/zoca-platform-swagger.json. Every path, operation, summary, parameter and response is exactly as published.
servers:
- url: https://api.zoca.ai
  description: Production
tags:
- name: Calendar Feed
paths:
  /scheduling/calendar/feed/{token}:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Public iCal feed (token-authenticated)
      tags:
      - Calendar Feed
  /scheduling/calendar/location/{locationEntityId}/feed:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: View a location's calendar feed (owner)
      tags:
      - Calendar Feed
  /scheduling/calendar/location/{locationEntityId}/feed/rotate:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Generate or rotate a location's feed URL (owner)
      tags:
      - Calendar Feed
  /scheduling/calendar/location/{locationEntityId}/feed/revoke:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Revoke a location's feed URL (owner)
      tags:
      - Calendar Feed
  /scheduling/calendar/location/{locationEntityId}/feed/settings:
    patch:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Toggle client-name suppression on a location feed (owner)
      tags:
      - Calendar Feed
  /scheduling/calendar/me/feed:
    get:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: View my personal calendar feed (staff)
      tags:
      - Calendar Feed
  /scheduling/calendar/me/feed/rotate:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Generate or rotate my personal feed URL (staff)
      tags:
      - Calendar Feed
  /scheduling/calendar/me/feed/revoke:
    post:
      operationId: t_value
      parameters: []
      responses:
        '201':
          description: ''
      summary: Revoke my personal feed URL (staff)
      tags:
      - Calendar Feed
  /scheduling/calendar/me/feed/settings:
    patch:
      operationId: t_value
      parameters: []
      responses:
        '200':
          description: ''
      summary: Toggle client-name suppression on my personal feed (staff)
      tags:
      - Calendar Feed
components:
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      name: Authorization
      description: Enter JWT token in the format Bearer <token>
      in: header
